In [ ]:
#install.packages("ggplot2")
#install.packages("openxlsx")
#install.packages("leaflet")
#install.packages("leaflet.extras")
#install.packages("dplyr")
#install.packages("maps")
#install.packages('shiny')
#install.packages('sf')
#install.packages('rvest')
#install.packages("spData")

Libraries

In [3]:
rm(list=ls())
#Useful Libraries
library(ggplot2) 
library(readxl)
library(stats)
library(leaflet)
library(leaflet.extras)
suppressWarnings({library(dplyr)})
library(maps)
library(spData)
library(sf)
library(leaflet.minicharts)
library(rvest)
library(shiny)

### Data Preparation

In this part, the data will be prepared for the analysis:
- Load the data.
- Transform the data.
- Merge datasets for the analysis.

In [4]:
#Preparing the data set
# Set Java heap space to 4GB (adjust as necessary)
#options(java.parameters = "-Xmx8g")
suppressWarnings({
    data=read_excel('D:/Semester 2/Data Analytics and Visualisation/Assignment 1/Twitter+data+in+sheets.xlsx',1) #We pass into R the datasets
    data1=read_excel('D:/Semester 2/Data Analytics and Visualisation/Assignment 1/Twitter+data+in+sheets.xlsx',2) #In this dataset we have the locations for each tweet. data and data1 are linked each other with the variable LocationID
    data2=read_excel('D:/Semester 2/Data Analytics and Visualisation/Assignment 1/Twitter+data+in+sheets.xlsx',3) #In this dataset we have the gender for each observation. data and data2 are linked each other with the variable UserID
    data=data[-100001,]
    k=world.cities 
    dataB=data[seq(50001,nrow(data)),] 
    data=data[-1*seq(50001,nrow(data)),]
})

In [5]:

for (i in seq(1,nrow(data))){
  suppressWarnings({
      data$country[i]=data1$Country[which(data$LocationID[i]==data1$LocationID)]
      data$state[i]=data1$State[which(data$LocationID[i]==data1$LocationID)]
      data$statecode[i]=data1$StateCode[which(data$LocationID[i]==data1$LocationID)]
      data$city[i]=data1$City[which(data$LocationID[i]==data1$LocationID)]
  })
  res = data2$Gender[which(data$UserID[i]==data2$UserID)]
  if (length(res) != 1){
      if ('Unknown' %in% res){
          retur = res[res != 'Unknown'][1]
      } else {
          retur = res[1]
      }
  } else{
      retur = res
  }
  suppressWarnings({data$gender[i] = retur})
}
data$country[data$country=='United States']='USA'
data$country[data$country=='United Kingdom']='UK'
data$country[data$country=='Republic of the Congo']='Congo'

In [6]:
for (i in seq(1,nrow(dataB))){
    suppressWarnings({
      if (length(which(dataB$LocationID[i]==data1$LocationID)!=0)){
        dataB$country[i]=data1$Country[which(dataB$LocationID[i]==data1$LocationID)]
        dataB$state[i]=data1$State[which(dataB$LocationID[i]==data1$LocationID)]
        dataB$statecode[i]=data1$StateCode[which(dataB$LocationID[i]==data1$LocationID)]
        dataB$city[i]=data1$City[which(dataB$LocationID[i]==data1$LocationID)]
      }else{
        dataB$country[i]=0
        dataB$state[i]=0
        dataB$statecode[i]=0
        dataB$city[i]=0
      }
      if(length(which(dataB$UserID[i]==data2$UserID))!=0){
          res = data2$Gender[which(dataB$UserID[i]==data2$UserID)]
          if (length(res) != 1){
              if ('Unknown' %in% res){
                  retur = res[res != 'Unknown'][1]
              } else {
                  retur = res[1]
              }
          } else{
              retur = res
          }
          dataB$gender[i] = retur
      }else{
            dataB$gender[i]=0
          }
        })
}

dataB$country[dataB$country=='United States']='USA'
dataB$country[dataB$country=='United Kingdom']='UK'

In [7]:
data$city[data$statecode=='US-DC']="Washington"
k$country.etc[k$country.etc=='Korea South']='South Korea'
data$city[data$city=='New York City']='New York'
data$city[data$city=="So Paulo"]='Sao Paulo'
data$city[data$city=="stanbul"]='Istanbul'
data$city[data$city=="zmir"]='Izmir'
k$name[k$name=="Roxas" & k$pop>100000]="Roxas City"
k$name[k$name=="Ni Dilli"]="New Delhi"
k$name[k$name=="Milan" & k$pop>1000000]="Milano"
k$name[k$name=='Navi Mumbai']='Mumbai'
k$country.etc[k$name=='Toronto']='USA'


dataB$city[dataB$statecode=='US-DC']="Washington"
dataB$city[dataB$city=='New York City']='New York'
dataB$city[dataB$city=="So Paulo"]='Sao Paulo'
dataB$city[dataB$city=="stanbul"]='Istanbul'
dataB$city[dataB$city=="zmir"]='Izmir'


for(i in seq(1,nrow(data))){
  a=which((data$city[i]==k$name) & (data$country[i]==k$country.etc))
  suppressWarnings({
    if (length(a)!=0){
    data$long[i]=k$long[a][1]
    data$lat[i]=k$lat[a][1]
    data$pop[i]=k$pop[a][1]
  }else{
    data$long[i]=NA
    data$lat[i]=NA
    data$pop[i]=NA
  }
      })
}

for(i in seq(1,nrow(dataB))){
  a=which((dataB$city[i]==k$name) & (dataB$country[i]==k$country.etc))
  suppressWarnings({
    if (length(a)!=0){
    dataB$long[i]=k$long[a][1]
    dataB$lat[i]=k$lat[a][1]
    dataB$pop[i]=k$pop[a][1]
  }else{
    dataB$long[i]=NA
    dataB$lat[i]=NA
    dataB$pop[i]=NA
  }
      })
}

In [8]:
data$long[data$city=="Seattle"]=-122.30
data$lat[data$city=="Seattle"]=47.55
data$long[data$city=="Oldsmar"]=-82.67
data$lat[data$city=="Oldsmar"]=28.05
data$long[data$city=="Ahmedabad"]=72.58
data$lat[data$city=="Ahmedabad"]=23.4
data$long[data$city=="Bogot"]=-74.12
data$lat[data$city=="Bogot"]=4.66
data$long[data$city=="Brooklyn"]=-73.86
data$lat[data$city=="Brooklyn"]=40.68
data$long[data$city=="Boise"]=-116.23
data$lat[data$city=="Boise"]=43.60
data$long[data$city=="Brixton"]=-0.11
data$lat[data$city=="Brixton"]=51.46
data$long[data$city=="Camberley"]=-0.74
data$lat[data$city=="Camberley"]=51.34
data$long[data$city=="Cebu City"]=123.88
data$lat[data$city=="Cebu City"]=10.33
data$long[data$city=="Deeside"]=-3.03
data$lat[data$city=="Deeside"]=53.20
data$long[data$city=="England"]=-91.97
data$lat[data$city=="England"]=34.55
data$long[data$city=="Espaa"]=118.75
data$lat[data$city=="Espaa"]=9.77
data$long[data$city=="Gotham"]=-1.21
data$lat[data$city=="Gotham"]=52.87
data$long[data$city=="Hannover"]=9.75
data$lat[data$city=="Hannover"]=52.37
data$long[data$city=="Herndon"]=-77.38
data$lat[data$city=="Herndon"]=38.97
data$long[data$city=="Kolkata"]=88.37
data$lat[data$city=="Kolkata"]=22.65
data$long[data$city=="Leavenworth"]=-120.66
data$lat[data$city=="Leavenworth"]=47.60
data$long[data$city=="London" & data$state=='California']=-119.44
data$lat[data$city=="London" & data$state=='California']=36.48
data$long[data$city=="Los Gatos"]=-121.97
data$lat[data$city=="Los Gatos"]=37.24
data$long[data$city=="Menlo Park"]=-122.15
data$lat[data$city=="Menlo Park"]=37.48
data$long[data$city=="Oak Grove"]=-87.41
data$lat[data$city=="Oak Grove"]=36.67
data$long[data$city=="Orroli"]=9.25
data$lat[data$city=="Orroli"]=39.70
data$long[data$city=="Ottawa" & data$state=='Ohio']=-84.04
data$lat[data$city=="Ottawa" & data$state=='Ohio']=41.02
data$long[data$city=="Piscataway"]=-74.48
data$lat[data$city=="Piscataway"]=40.54
data$long[data$city=="Regensburg"]=12.10
data$lat[data$city=="Regensburg"]=49.01
data$long[data$city=="Sammamish"]=-122.04
data$lat[data$city=="Sammamish"]=47.62
data$long[data$city=="Scotland"]=-77.59
data$lat[data$city=="Scotland"]=39.97
data$long[data$city=="Shinjuku"]=139.71
data$lat[data$city=="Shinjuku"]=35.70
data$long[data$city=="St. Louis"]=-90.23
data$lat[data$city=="St. Louis"]=38.64
data$long[data$city=="Surrey"]=-122.80
data$lat[data$city=="Surrey"]=49.16
data$long[data$city=="Weil am Rhein"]=7.62
data$lat[data$city=="Weil am Rhein"]=47.59
data$long[data$city=="Woodcliff Lake"]=-74.06
data$lat[data$city=="Woodcliff Lake"]=41.02
data$long[data$city=="Woodside"]=-122.25
data$lat[data$city=="Woodside"]=37.43

data$Weekday=as.factor(data$Weekday)
data$Hour=as.integer(data$Hour)
data$Day=as.integer(data$Day)
data$Lang=as.factor(data$Lang)
data$IsReshare=as.factor(data$IsReshare)
data$Reach=as.integer(data$Reach)
data$RetweetCount=as.integer(data$RetweetCount)
data$Likes=as.integer(data$Likes)
data$Klout=as.integer(data$Klout)
data$Sentiment=as.numeric(data$Sentiment)
data$country=as.factor(data$country)
data$state=as.factor(data$state)
data$city=as.factor(data$city)
data$gender=as.factor(data$gender)
data$UserID=as.factor(data$UserID)
str(data)
summary(data)


dataB$long[dataB$city=="Seattle"]=-122.30
dataB$lat[dataB$city=="Seattle"]=47.55
dataB$long[dataB$city=="Oldsmar"]=-82.67
dataB$lat[dataB$city=="Oldsmar"]=28.05
dataB$long[dataB$city=="Ahmedabad"]=72.58
dataB$lat[dataB$city=="Ahmedabad"]=23.4
dataB$long[dataB$city=="Bogot"]=-74.12
dataB$lat[dataB$city=="Bogot"]=4.66
dataB$long[dataB$city=="Brooklyn"]=-73.86
dataB$lat[dataB$city=="Brooklyn"]=40.68
dataB$long[dataB$city=="Boise"]=-116.23
dataB$lat[dataB$city=="Boise"]=43.60
dataB$long[dataB$city=="Brixton"]=-0.11
dataB$lat[dataB$city=="Brixton"]=51.46
dataB$long[dataB$city=="Camberley"]=-0.74
dataB$lat[dataB$city=="Camberley"]=51.34
dataB$long[dataB$city=="Cebu City"]=123.88
dataB$lat[dataB$city=="Cebu City"]=10.33
dataB$long[dataB$city=="Deeside"]=-3.03
dataB$lat[dataB$city=="Deeside"]=53.20
dataB$long[dataB$city=="England"]=-91.97
dataB$lat[dataB$city=="England"]=34.55
dataB$long[dataB$city=="Espaa"]=118.75
dataB$lat[dataB$city=="Espaa"]=9.77
dataB$long[dataB$city=="Gotham"]=-1.21
dataB$lat[dataB$city=="Gotham"]=52.87
dataB$long[dataB$city=="Hannover"]=9.75
dataB$lat[dataB$city=="Hannover"]=52.37
dataB$long[dataB$city=="Herndon"]=-77.38
dataB$lat[dataB$city=="Herndon"]=38.97
dataB$long[dataB$city=="Kolkata"]=88.37
dataB$lat[dataB$city=="Kolkata"]=22.65
dataB$long[dataB$city=="Leavenworth"]=-120.66
dataB$lat[dataB$city=="Leavenworth"]=47.60
dataB$long[dataB$city=="London" & dataB$state=='California']=-119.44
dataB$lat[dataB$city=="London" & dataB$state=='California']=36.48
dataB$long[dataB$city=="Los Gatos"]=-121.97
dataB$lat[dataB$city=="Los Gatos"]=37.24
dataB$long[dataB$city=="Menlo Park"]=-122.15
dataB$lat[dataB$city=="Menlo Park"]=37.48
dataB$long[dataB$city=="Oak Grove"]=-87.41
dataB$lat[dataB$city=="Oak Grove"]=36.67
dataB$long[dataB$city=="Orroli"]=9.25
dataB$lat[dataB$city=="Orroli"]=39.70
dataB$long[dataB$city=="Ottawa" & dataB$state=='Ohio']=-84.04
dataB$lat[dataB$city=="Ottawa" & dataB$state=='Ohio']=41.02
dataB$long[dataB$city=="Piscataway"]=-74.48
dataB$lat[dataB$city=="Piscataway"]=40.54
dataB$long[dataB$city=="Regensburg"]=12.10
dataB$lat[dataB$city=="Regensburg"]=49.01
dataB$long[dataB$city=="Sammamish"]=-122.04
dataB$lat[dataB$city=="Sammamish"]=47.62
dataB$long[dataB$city=="Scotland"]=-77.59
dataB$lat[dataB$city=="Scotland"]=39.97
dataB$long[dataB$city=="Shinjuku"]=139.71
dataB$lat[dataB$city=="Shinjuku"]=35.70
dataB$long[dataB$city=="St. Louis"]=-90.23
dataB$lat[dataB$city=="St. Louis"]=38.64
dataB$long[dataB$city=="Surrey"]=-122.80
dataB$lat[dataB$city=="Surrey"]=49.16
dataB$long[dataB$city=="Weil am Rhein"]=7.62
dataB$lat[dataB$city=="Weil am Rhein"]=47.59
dataB$long[dataB$city=="Woodcliff Lake"]=-74.06
dataB$lat[dataB$city=="Woodcliff Lake"]=41.02
dataB$long[dataB$city=="Woodside"]=-122.25
dataB$lat[dataB$city=="Woodside"]=37.43

dataB$Weekday=as.factor(dataB$Weekday)
dataB$Hour=as.integer(dataB$Hour)
dataB$Day=as.integer(dataB$Day)
dataB$Lang=as.factor(dataB$Lang)
dataB$IsReshare=as.factor(dataB$IsReshare)
dataB$Reach=as.integer(dataB$Reach)
dataB$RetweetCount=as.integer(dataB$RetweetCount)
dataB$Likes=as.integer(dataB$Likes)
dataB$Klout=as.integer(dataB$Klout)
dataB$Sentiment=as.numeric(dataB$Sentiment)
dataB$country=as.factor(dataB$country)
dataB$state=as.factor(dataB$state)
dataB$city=as.factor(dataB$city)
dataB$gender=as.factor(dataB$gender)
dataB$UserID=as.factor(dataB$UserID)
str(dataB)
summary(dataB)

rm(list=c('k','data1','data2'))

tibble [50,000 × 22] (S3: tbl_df/tbl/data.frame)
 $ TweetID     : chr [1:50000] "tw-682712873332805633" "tw-682713045357998080" "tw-682713219375476736" "tw-682713436967579648" ...
 $ Weekday     : Factor w/ 7 levels "Friday","Monday",..: 5 5 5 5 5 5 5 5 5 5 ...
 $ Hour        : int [1:50000] 17 17 17 17 17 17 17 17 17 17 ...
 $ Day         : int [1:50000] 31 31 31 31 31 31 31 31 31 31 ...
 $ Lang        : Factor w/ 30 levels "_u","ar","cs",..: 7 7 7 7 7 7 7 7 7 7 ...
 $ IsReshare   : Factor w/ 2 levels "FALSE","TRUE": 1 2 1 1 1 1 1 1 1 2 ...
 $ Reach       : int [1:50000] 44 1810 282 2087 953 113 113 113 4893 2868 ...
 $ RetweetCount: int [1:50000] 0 5 0 4 0 0 0 0 1 6 ...
 $ Likes       : int [1:50000] 0 0 0 0 0 0 0 0 0 0 ...
 $ Klout       : int [1:50000] 35 53 47 53 47 31 31 31 49 51 ...
 $ Sentiment   : num [1:50000] 0 2 0 0 0 -1 -2 -1 0 2 ...
 $ text        : chr [1:50000] "We are hiring: Senior Software Engineer - Proto http://www.reqcloud.com/jobs/719865/?k=0LaPxXuFwczs1e32ZURJKrgC"| __truncated__ "RT @CodeMineStatus: This is true Amazon Web Services https://aws.amazon.com/ #php #html #html5 #css #webdesign "| __truncated__ "Devops Engineer Aws Ansible Cassandra Mysql Ubuntu Ruby On Rails Jobs in Austin TX #Austin #TX #jobs #jobsearch"| __truncated__ "Happy New Year to all those AWS instances of ours!" ...
 $ LocationID  : num [1:50000] 3751 3989 3741 3753 3751 ...
 $ UserID      : Factor w/ 19656 levels "tw-10000632",..: 14140 11630 15116 13034 11599 2636 2636 2636 6596 3563 ...
 $ country     : Factor w/ 136 levels "Albania","Algeria",..: 130 130 130 130 130 130 130 130 130 12 ...
 $ state       : Factor w/ 815 levels "Aargau","Aberdeen City",..: 773 296 716 133 773 133 133 133 559 294 ...
 $ statecode   : chr [1:50000] "US-WA" "US-FL" "US-TX" "US-CA" ...
 $ city        : Factor w/ 2723 levels "'s-Hertogenbosch",..: 2191 1776 136 2120 2191 2119 2119 2119 1919 6 ...
 $ gender      : Factor w/ 4 levels "Female","Male",..: 1 2 2 3 4 3 3 3 4 2 ...
 $ long        : num [1:50000] -122.3 -82.7 -97.8 -122.5 -122.3 ...
 $ lat         : num [1:50000] 47.5 28.1 30.3 37.8 47.5 ...
 $ pop         : int [1:50000] 570430 NA 683404 723724 570430 1299352 1299352 1299352 542751 27646 ...

   TweetID               Weekday          Hour            Day
 Length:50000       Friday   :8051   Min.   : 0.00   Min.   : 1.00
 Class :character   Monday   :7454   1st Qu.: 7.00   1st Qu.: 8.00
 Mode  :character   Saturday :3666   Median :11.00   Median :13.00
                    Sunday   :3487   Mean   :11.49   Mean   :13.82
                    Thursday :8461   3rd Qu.:16.00   3rd Qu.:20.00
                    Tuesday  :9842   Max.   :23.00   Max.   :31.00
                    Wednesday:9039
      Lang       IsReshare         Reach          RetweetCount
 en     :47892   FALSE:32398   Min.   :      0   Min.   :  0.00
 _u     :  476   TRUE :17602   1st Qu.:    153   1st Qu.:  0.00
 es     :  435                 Median :    430   Median :  0.00
 fr     :  328                 Mean   :   7336   Mean   :  8.39
 ja     :  150                 3rd Qu.:   1352   3rd Qu.:  3.00
 de     :  130                 Max.   :8196371   Max.   :637.00
 (Other):  589
     Likes              Klout         Sentiment           text
 Min.   :  0.0000   Min.   : 0.00   Min.   :-6.0000   Length:50000
 1st Qu.:  0.0000   1st Qu.:33.00   1st Qu.: 0.0000   Class :character
 Median :  0.0000   Median :42.00   Median : 0.0000   Mode  :character
 Mean   :  0.1521   Mean   :40.24   Mean   : 0.3659
 3rd Qu.:  0.0000   3rd Qu.:48.00   3rd Qu.: 1.0000
 Max.   :133.0000   Max.   :99.00   Max.   : 7.3333

   LocationID             UserID           country                 state
 Min.   :   1   tw-4719527682:  625   USA      :26426   California    : 5897
 1st Qu.:1603   tw-40932430  :  380   UK       : 5080   Washington    : 4365
 Median :3738   tw-66780587  :  366   India    : 3397   Greater London: 2682
 Mean   :2869   tw-105163529 :  344   France   : 1728   Massachusetts : 2081
 3rd Qu.:3776   tw-4023999209:  315   Germany  : 1662   New York      : 1900
 Max.   :6288   tw-3316009302:  309   Australia: 1416   (Other)       :32366
                (Other)      :47661   (Other)  :10291   NA's          :  709
  statecode                    city           gender           long
 Length:50000       Seattle      : 3703   Female : 4668   Min.   :-157.80
 Class :character   London       : 2805   Male   :26612   1st Qu.:-112.07
 Mode  :character   San Francisco: 2179   Unisex : 4828   Median : -73.94
                    New York     : 1320   Unknown:13892   Mean   : -39.57
                    Paris        : 1277                   3rd Qu.:   3.47
                    (Other)      :37839                   Max.   : 175.61
                    NA's         :  877                   NA's   :4414
      lat              pop
 Min.   :-53.16   Min.   :     363
 1st Qu.: 33.61   1st Qu.:  274245
 Median : 40.42   Median :  671584
 Mean   : 35.74   Mean   : 2093081
 3rd Qu.: 47.55   3rd Qu.: 2864667
 Max.   : 68.58   Max.   :15017783
 NA's   :4414     NA's   :6613

tibble [50,000 × 22] (S3: tbl_df/tbl/data.frame)
 $ TweetID     : chr [1:50000] "tw-699956523758387201" "tw-699956772468105217" "tw-699956793636753408" "tw-699956949002149888" ...
 $ Weekday     : Factor w/ 7 levels "Friday","Monday",..: 7 7 7 7 7 7 7 7 7 7 ...
 $ Hour        : int [1:50000] 7 7 7 7 7 7 7 7 7 7 ...
 $ Day         : int [1:50000] 17 17 17 17 17 17 17 17 17 17 ...
 $ Lang        : Factor w/ 35 levels "_u","ar","cs",..: 7 7 7 23 7 12 7 7 33 7 ...
 $ IsReshare   : Factor w/ 2 levels "FALSE","TRUE": 2 1 2 1 2 1 1 1 1 1 ...
 $ Reach       : int [1:50000] 2095 4540 11 258 134 150 780 107 42060 52 ...
 $ RetweetCount: int [1:50000] 1 1 1 4 2 0 0 0 0 0 ...
 $ Likes       : int [1:50000] 0 0 0 0 0 0 0 0 0 0 ...
 $ Klout       : int [1:50000] 55 52 14 31 27 27 57 29 50 41 ...
 $ Sentiment   : num [1:50000] 0 0 0 0 0 0 2 0 0 0 ...
 $ text        : chr [1:50000] "RT @mchamberlain99: #Dropbox expanding into #Europe hosting customer #data in #Germany http://www.eweek.com/sto"| __truncated__ "In ONE HOUR: Securing #Office365 #AWS and #SFDC with SafeNet Authentication Service https://www.brighttalk.com/"| __truncated__ "RT @GemaltoSecurity: Webcast in ONE HOUR: Securing #Office365 #AWS and #SFDC with SafeNet Authentication Servic"| __truncated__ "Davinci levert met partner Amazon Web Services diensten vanuit de #cloud #innovatie Lees meer: http://davincigr"| __truncated__ ...
 $ LocationID  : num [1:50000] 3048 3019 3851 2055 3927 ...
 $ UserID      : Factor w/ 19202 levels "tw-1000137907",..: 1755 15616 11019 7813 7974 7604 8676 8126 9970 6870 ...
 $ country     : Factor w/ 127 levels "Albania","Anguilla",..: 117 117 121 74 121 36 121 29 114 74 ...
 $ state       : Factor w/ 836 levels "Aberdeen City",..: 228 325 141 539 480 358 507 151 366 771 ...
 $ statecode   : chr [1:50000] "GB-Y1" "GB-GLA" "US-CA" "NL" ...
 $ city        : Factor w/ 2774 levels "'s-Hertogenbosch",..: 645 1416 2126 84 1598 1879 2051 577 1129 2563 ...
 $ gender      : Factor w/ 5 levels "0","Female","Male",..: 3 5 3 3 2 2 3 3 5 3 ...
 $ long        : num [1:50000] -3.03 -0.1 -121.47 4.89 -93.27 ...
 $ lat         : num [1:50000] 53.2 51.5 38.6 52.4 45 ...
 $ pop         : int [1:50000] NA 7489022 480392 744159 364726 2141839 206626 1091978 10034830 280559 ...

   TweetID               Weekday          Hour            Day
 Length:50000       Friday   :6953   Min.   : 0.00   Min.   : 1.00
 Class :character   Monday   :7966   1st Qu.: 7.00   1st Qu.:13.00
 Mode  :character   Saturday :3755   Median :11.00   Median :19.00
                    Sunday   :3506   Mean   :11.33   Mean   :17.97
                    Thursday :9997   3rd Qu.:16.00   3rd Qu.:24.00
                    Tuesday  :8626   Max.   :23.00   Max.   :31.00
                    Wednesday:9197
      Lang       IsReshare         Reach           RetweetCount
 en     :43994   FALSE:32140   Min.   :       0   Min.   :    0.000
 es     : 1265   TRUE :17860   1st Qu.:     148   1st Qu.:    0.000
 tr     :  847                 Median :     470   Median :    0.000
 fr     :  757                 Mean   :    9749   Mean   :    7.715
 ja     :  521                 3rd Qu.:    1673   3rd Qu.:    3.000
 de     :  433                 Max.   :10342452   Max.   :26127.000
 (Other): 2183
     Likes              Klout         Sentiment          text
 Min.   :  0.0000   Min.   : 0.00   Min.   :-6.000   Length:50000
 1st Qu.:  0.0000   1st Qu.:32.00   1st Qu.: 0.000   Class :character
 Median :  0.0000   Median :43.00   Median : 0.000   Mode  :character
 Mean   :  0.1534   Mean   :40.54   Mean   : 0.396
 3rd Qu.:  0.0000   3rd Qu.:49.00   3rd Qu.: 0.500
 Max.   :107.0000   Max.   :99.00   Max.   : 6.000

   LocationID             UserID           country                 state
 Min.   :   2   tw-66780587  :  479   USA      :24202   California    : 5670
 1st Qu.:1494   tw-586887461 :  468   UK       : 4782   Washington    : 3883
 Median :3166   tw-15812482  :  440   India    : 3453   Greater London: 2414
 Mean   :2803   tw-105163529 :  412   France   : 1920   New York      : 1976
 3rd Qu.:3774   tw-2385274356:  367   Germany  : 1870   Massachusetts : 1759
 Max.   :6289   tw-3316009302:  365   Australia: 1521   (Other)       :33297
                (Other)      :47469   (Other)  :12252   NA's          : 1001
  statecode                    city           gender           long
 Length:50000       Seattle      : 3301   0      :    1   Min.   :-157.80
 Class :character   London       : 2523   Female : 5293   1st Qu.:-105.05
 Mode  :character   San Francisco: 1957   Male   :25394   Median : -71.02
                    Paris        : 1417   Unisex : 4247   Mean   : -32.57
                    New York     : 1332   Unknown:15065   3rd Qu.:   9.19
                    (Other)      :38331                   Max.   : 176.90
                    NA's         : 1139                   NA's   :4740
      lat              pop
 Min.   :-54.79   Min.   :    1154
 1st Qu.: 33.14   1st Qu.:  316272
 Median : 39.97   Median :  723724
 Mean   : 34.70   Mean   : 2317150
 3rd Qu.: 47.55   3rd Qu.: 3146804
 Max.   : 66.53   Max.   :15017783
 NA's   :4740     NA's   :7000

### Data Analysis (Part 1 / 4)

In this part we will conduct data analysis:
- Number of tweets in each country.
- Mean, min, max, median for the Sentiment variable for each country.
- Number of tweets for each gender in each country.
- Create Map with polygons (statistics for each country).

In [9]:

set=data %>% group_by(country) %>% count()
set1=data %>% group_by(country) %>% summarise(mean=mean(Sentiment),max=max(Sentiment),min=min(Sentiment),median=median(Sentiment),meanR=mean(Reach))
set2=data %>% group_by(country,gender) %>% count()
View(set2)

setB=dataB %>% group_by(country) %>% count()
set1B=dataB %>% group_by(country) %>% summarise(mean=mean(Sentiment),max=max(Sentiment),min=min(Sentiment),median=median(Sentiment),meanR=mean(Reach))
set2B=dataB %>% group_by(country,gender) %>% count()
View(set1)
View(set)
str(set2)

View(set1B)
View(setB)
polyg=world 
polyg$name_long[polyg$name_long=="United States"]="USA"
polyg$name_long[polyg$name_long=="United Kingdom"]="UK"
polyg$name_long[polyg$name_long=='Republic of Korea']="South Korea"
polyg$name_long[polyg$name_long=='Dem. Rep. Korea']="North Korea"
polyg$name_long[polyg$name_long=="Côte d'Ivoire"]="Ivory Coast"
polyg$name_long[polyg$name_long=="Republic of the Congo"]="Congo"
polyg$numTwe=NA
polyg$max=NA
polyg$min=NA
polyg$mean=NA
polyg$median=NA
polyg$meanR=NA
for ( i in seq(1,nrow(polyg))){
  if (length(which(set$country==polyg$name_long[i]))!=0){  
    polyg$numTwe[i]=set$n[which(set$country==polyg$name_long[i])]
    polyg$max[i]=set1$max[which(set1$country==polyg$name_long[i])]
    polyg$min[i]=set1$min[which(set1$country==polyg$name_long[i])]
    polyg$mean[i]=set1$mean[which(set1$country==polyg$name_long[i])]
    polyg$median[i]=set1$median[which(set1$country==polyg$name_long[i])]
    polyg$meanR[i]=set1$meanR[which(set1$country==polyg$name_long[i])]
  }
}
polygB=world
polygB$name_long[polygB$name_long=="United States"]="USA"
polygB$name_long[polygB$name_long=="United Kingdom"]="UK"
polygB$name_long[polygB$name_long=='Republic of Korea']="South Korea"
polygB$name_long[polygB$name_long=='Dem. Rep. Korea']="North Korea"
polygB$name_long[polygB$name_long=="Côte d'Ivoire"]="Ivory Coast"
polygB$name_long[polygB$name_long=="Republic of the Congo"]="Congo"
polygB$numTwe=NA
polygB$max=NA
polygB$min=NA
polygB$mean=NA
polygB$median=NA
polygB$meanR=NA
for ( i in seq(1,nrow(polygB))){
  if (length(which(setB$country==polygB$name_long[i]))!=0){  
    polygB$numTwe[i]=setB$n[which(setB$country==polygB$name_long[i])]
    polygB$max[i]=set1B$max[which(set1B$country==polygB$name_long[i])]
    polygB$min[i]=set1B$min[which(set1B$country==polygB$name_long[i])]
    polygB$mean[i]=set1B$mean[which(set1B$country==polygB$name_long[i])]
    polygB$median[i]=set1B$median[which(set1B$country==polygB$name_long[i])]
    polygB$meanR[i]=set1B$meanR[which(set1B$country==polygB$name_long[i])]
  }
}
colcont=colorNumeric(palette = "Blues",domain =log(c(1:26426)))
colcontB=colorNumeric(palette = "Blues",domain =log(c(min(polygB$numTwe,na.rm=T):max(polygB$numTwe,na.rm=T))))#We create a continuous palette for the second dataset polygB

coloring=colorFactor(palette = c("Red","Blue","Black","Green"),levels = c("Female","Male","Unisex","Unknown"))
labelmap=function(x,y,z,w,e){paste0("Sentiment","<br/>","Minimum:",x,"<br/>","Maximum:",y,"<br/>","Mean:",z,"<br/>","Median:",w,"<br/>",'Mean Reach:',e )}

map=leaflet() %>% 
  addProviderTiles("CartoDB") %>% 
  addPolygons(data = polyg,
              weight = 1,
              fillOpacity = 0.75,
              color= ~colcont(log(numTwe)),
              label = paste('Number of Tweets',polyg$numTwe),
              popup = ~labelmap(min,max,mean,median,meanR),
              highlight=highlightOptions(weight = 3,color = "green")) %>%
  addLegend(pal = colcont,
            values = log(polyg$numTwe),
            title = "#twts = e^lgnd")
mapB=leaflet() %>%
  addProviderTiles("CartoDB") %>% 
  addPolygons(data = polygB,
              weight = 1,
              fillOpacity = 0.75,
              color= ~colcontB(log(numTwe)),
              label = paste('Number of Tweets',polygB$numTwe),
              popup = ~labelmap(min,max,mean,median,meanR),
              highlight=highlightOptions(weight = 3,color = "green")) %>%
  addLegend(pal = colcontB,
            values = log(polygB$numTwe),
            title = "#twts = e^lgnd")

    country                            gender  n
1   Albania                            Male      4
2   Albania                            Unknown   1
3   Algeria                            Male      3
4   Angola                             Female    5
5   Anguilla                           Male      1
6   Argentina                          Female   49
7   Argentina                          Male    110
8   Argentina                          Unisex   29
9   Argentina                          Unknown  60
10  Armenia                            Female    1
11  Armenia                            Unknown   1
12  Australia                          Female  147
13  Australia                          Male    811
14  Australia                          Unisex  184
15  Australia                          Unknown 274
16  Austria                            Female    2
17  Austria                            Male     53
18  Austria                            Unisex    5
19  Austria                            Unknown  18
20  Bahamas                            Male     10
21  Bangladesh                         Female    6
22  Bangladesh                         Male     20
23  Bangladesh                         Unisex   46
24  Bangladesh                         Unknown  13
25  Belarus                            Male      2
26  Belarus                            Unisex    1
27  Belarus                            Unknown   1
28  Belgium                            Female   12
29  Belgium                            Male    117
30  Belgium                            Unisex    5
⋮   ⋮                                  ⋮       ⋮
341 Ukraine                            Female      4
342 Ukraine                            Male       19
343 Ukraine                            Unknown     2
344 United Arab Emirates               Female      5
345 United Arab Emirates               Male       49
346 United Arab Emirates               Unisex     12
347 United Arab Emirates               Unknown    69
348 Uruguay                            Female      1
349 Uruguay                            Male        2
350 Uruguay                            Unknown     5
351 USA                                Female   2694
352 USA                                Male    12497
353 USA                                Unisex   3306
354 USA                                Unknown  7929
355 Venezuela                          Female     12
356 Venezuela                          Male       40
357 Venezuela                          Unisex     10
358 Venezuela                          Unknown    27
359 Venezuela (Bolivarian Republic of) Female      1
360 Venezuela (Bolivarian Republic of) Male        1
361 Venezuela (Bolivarian Republic of) Unknown     1
362 Viet Nam                           Unknown     1
363 Vietnam                            Male        9
364 Vietnam                            Unisex      2
365 Vietnam                            Unknown     4
366 Zambia                             Male        5
367 Zambia                             Unknown     2
368 Zimbabwe                           Male        1
369 Zimbabwe                           Unisex      1
370 Zimbabwe                           Unknown     1

    country                            mean        max        min
1   Albania                             0.0000000  0           0.0
2   Algeria                            -1.0000000  0          -3.0
3   Angola                             -1.2000000  0          -2.0
4   Anguilla                            0.0000000  0           0.0
5   Argentina                           0.2336102  4          -4.0
6   Armenia                             0.0000000  0           0.0
7   Australia                           0.4143995  5          -6.0
8   Austria                             0.4643672  4          -4.0
9   Bahamas                             0.0000000  0           0.0
10  Bangladesh                          0.5098039  4          -3.0
11  Belarus                            -0.2500000  1          -2.0
12  Belgium                             0.3873371  4          -2.0
13  Benin                               0.0000000  0           0.0
14  Bolivia                             0.3076923  2          -1.0
15  Bosnia and Herzegovina              0.0000000  0           0.0
16  Brazil                              0.4263485  4          -4.0
17  Bulgaria                            0.3571429  3          -0.5
18  Burkina Faso                        2.0000000  2           2.0
19  Burundi                             0.0000000  0           0.0
20  Cambodia                            0.0000000  0           0.0
21  Cameroon                           -1.2000000  0          -4.0
22  Canada                              0.4435752  4          -4.0
23  Chad                                0.0000000  0           0.0
24  Chile                               0.1492157  3          -2.0
25  China                               0.4594607  4          -4.0
26  Colombia                            0.2592723  4          -2.0
27  Congo                               0.0000000  0           0.0
28  Costa Rica                          1.5000000  3           0.0
29  Croatia                             0.6000000  3           0.0
30  Cte d'Ivoire                        0.0000000  0           0.0
⋮   ⋮                                  ⋮           ⋮          ⋮
107 Singapore                           0.18181818  1.5000000 -2.0000000
108 Slovakia                            0.27272727  3.0000000  0.0000000
109 Slovenia                            0.10000000  3.0000000 -6.0000000
110 Solomon Islands                     0.00000000  0.0000000  0.0000000
111 South Africa                        0.32413088  3.0000000 -4.0000000
112 South Korea                         0.26396226  3.5000000 -4.0000000
113 South Sudan                         1.50000000  3.0000000  0.0000000
114 Spain                               0.42466702  4.0000000 -4.0000000
115 Sri Lanka                           0.07692308  4.0000000 -2.0000000
116 Sudan                               0.66666667  1.0000000  0.0000000
117 Sweden                              0.41723356  4.0000000 -4.0000000
118 Switzerland                         0.42021097  4.0000000 -6.0000000
119 Taiwan                              0.30863333  4.0000000 -4.0000000
120 Tajikistan                          0.05278665  0.1055733  0.0000000
121 Tanzania                            0.26666666  2.0000000 -0.6666667
122 Thailand                            0.49076923  3.0000000 -2.0000000
123 Tunisia                             0.11111111  2.0000000 -1.0000000
124 Turkey                              0.44276094  4.0000000 -1.6666666
125 Uganda                              0.27941176  2.0000000 -0.5000000
126 UK                                  0.38932745  5.0000000 -6.0000000
127 Ukraine                             0.04000000  2.0000000 -4.0000000
128 United Arab Emirates                0.21267516  4.0000000 -6.0000000
129 Uruguay                             0.12500000  1.0000000  0.0000000
130 USA                                 0.35477625  7.3333335 -6.0000000
131 Venezuela                           0.13014981  2.0000000 -1.0000000
132 Venezuela (Bolivarian Republic of)  0.05666667  0.1700000  0.0000000
133 Viet Nam                           -1.00000000 -1.0000000 -1.0000000
134 Vietnam                             0.53333333  3.0000000 -1.0000000
135 Zambia                              0.42857143  3.0000000  0.0000000
136 Zimbabwe                            1.66666667  3.0000000  0.0000000
    median      meanR
1    0.0          137.00000
2    0.0          180.66667
3   -1.0           67.40000
4    0.0          267.00000
5    0.0         1136.25806
6    0.0           98.50000
7    0.0         1694.62359
8    0.0          666.67949
9    0.0          141.50000
10   0.0         1433.87059
11   0.0          504.50000
12   0.0         2424.32961
13   0.0          157.00000
14   0.0         1342.00000
15   0.0           99.33333
16   0.0          625.93376
17   0.0          966.00000
18   2.0          554.00000
19   0.0          599.00000
20   0.0          354.00000
21   0.0         1648.20000
22   0.0         5027.27706
23   0.0          167.00000
24   0.0         3558.01176
25   0.0          414.57560
26   0.0         1179.40845
27   0.0        18730.00000
28   1.5          387.25000
29   0.0          864.20000
30   0.0          298.00000
⋮   ⋮           ⋮
107  0.00000000  2995.0455
108  0.00000000   237.8182
109  0.00000000   616.2000
110  0.00000000  1688.0000
111  0.00000000   914.2209
112  0.00000000  2700.1013
113  1.50000000   153.0000
114  0.00000000  1556.3996
115  0.00000000  1914.4615
116  1.00000000   596.0000
117  0.00000000  2075.1361
118  0.00000000   804.0127
119  0.00000000  1056.7533
120  0.05278665    61.5000
121  0.00000000   596.8000
122  0.00000000  2570.7363
123  0.00000000   214.8889
124  0.00000000 11382.4343
125  0.00000000   417.2647
126  0.00000000  2842.3494
127  0.00000000   530.5600
128  0.00000000  1999.4667
129  0.00000000   673.0000
130  0.00000000 12255.0320
131  0.00000000  1340.1348
132  0.00000000   854.0000
133 -1.00000000    97.0000
134  0.00000000   464.2667
135  0.00000000   389.7143
136  2.00000000   728.3333

    country                            n
1   Albania                               5
2   Algeria                               3
3   Angola                                5
4   Anguilla                              1
5   Argentina                           248
6   Armenia                               2
7   Australia                          1416
8   Austria                              78
9   Bahamas                              10
10  Bangladesh                           85
11  Belarus                               4
12  Belgium                             179
13  Benin                                 1
14  Bolivia                              13
15  Bosnia and Herzegovina                6
16  Brazil                              619
17  Bulgaria                             21
18  Burkina Faso                          1
19  Burundi                               1
20  Cambodia                              1
21  Cameroon                              5
22  Canada                              693
23  Chad                                  1
24  Chile                                85
25  China                               377
26  Colombia                            142
27  Congo                                 1
28  Costa Rica                            4
29  Croatia                              15
30  Cte d'Ivoire                          2
⋮   ⋮                                  ⋮
107 Singapore                             22
108 Slovakia                              11
109 Slovenia                              20
110 Solomon Islands                        1
111 South Africa                         163
112 South Korea                          227
113 South Sudan                            2
114 Spain                                941
115 Sri Lanka                             13
116 Sudan                                  3
117 Sweden                               294
118 Switzerland                           79
119 Taiwan                               150
120 Tajikistan                             2
121 Tanzania                               5
122 Thailand                              91
123 Tunisia                                9
124 Turkey                                99
125 Uganda                                34
126 UK                                  5080
127 Ukraine                               25
128 United Arab Emirates                 135
129 Uruguay                                8
130 USA                                26426
131 Venezuela                             89
132 Venezuela (Bolivarian Republic of)     3
133 Viet Nam                               1
134 Vietnam                               15
135 Zambia                                 7
136 Zimbabwe                               3

gropd_df [370 × 3] (S3: grouped_df/tbl_df/tbl/data.frame)
 $ country: Factor w/ 136 levels "Albania","Algeria",..: 1 1 2 3 4 5 5 5 5 6 ...
 $ gender : Factor w/ 4 levels "Female","Male",..: 2 4 2 1 2 1 2 3 4 1 ...
 $ n      : int [1:370] 4 1 3 5 1 49 110 29 60 1 ...
 - attr(*, "groups")= tibble [370 × 3] (S3: tbl_df/tbl/data.frame)
  ..$ country: Factor w/ 136 levels "Albania","Algeria",..: 1 1 2 3 4 5 5 5 5 6 ...
  ..$ gender : Factor w/ 4 levels "Female","Male",..: 2 4 2 1 2 1 2 3 4 1 ...
  ..$ .rows  : list<int> [1:370]
  .. ..$ : int 1
  .. ..$ : int 2
  .. ..$ : int 3
  .. ..$ : int 4
  .. ..$ : int 5
  .. ..$ : int 6
  .. ..$ : int 7
  .. ..$ : int 8
  .. ..$ : int 9
  .. ..$ : int 10
  .. ..$ : int 11
  .. ..$ : int 12
  .. ..$ : int 13
  .. ..$ : int 14
  .. ..$ : int 15
  .. ..$ : int 16
  .. ..$ : int 17
  .. ..$ : int 18
  .. ..$ : int 19
  .. ..$ : int 20
  .. ..$ : int 21
  .. ..$ : int 22
  .. ..$ : int 23
  .. ..$ : int 24
  .. ..$ : int 25
  .. ..$ : int 26
  .. ..$ : int 27
  .. ..$ : int 28
  .. ..$ : int 29
  .. ..$ : int 30
  .. ..$ : int 31
  .. ..$ : int 32
  .. ..$ : int 33
  .. ..$ : int 34
  .. ..$ : int 35
  .. ..$ : int 36
  .. ..$ : int 37
  .. ..$ : int 38
  .. ..$ : int 39
  .. ..$ : int 40
  .. ..$ : int 41
  .. ..$ : int 42
  .. ..$ : int 43
  .. ..$ : int 44
  .. ..$ : int 45
  .. ..$ : int 46
  .. ..$ : int 47
  .. ..$ : int 48
  .. ..$ : int 49
  .. ..$ : int 50
  .. ..$ : int 51
  .. ..$ : int 52
  .. ..$ : int 53
  .. ..$ : int 54
  .. ..$ : int 55
  .. ..$ : int 56
  .. ..$ : int 57
  .. ..$ : int 58
  .. ..$ : int 59
  .. ..$ : int 60
  .. ..$ : int 61
  .. ..$ : int 62
  .. ..$ : int 63
  .. ..$ : int 64
  .. ..$ : int 65
  .. ..$ : int 66
  .. ..$ : int 67
  .. ..$ : int 68
  .. ..$ : int 69
  .. ..$ : int 70
  .. ..$ : int 71
  .. ..$ : int 72
  .. ..$ : int 73
  .. ..$ : int 74
  .. ..$ : int 75
  .. ..$ : int 76
  .. ..$ : int 77
  .. ..$ : int 78
  .. ..$ : int 79
  .. ..$ : int 80
  .. ..$ : int 81
  .. ..$ : int 82
  .. ..$ : int 83
  .. ..$ : int 84
  .. ..$ : int 85
  .. ..$ : int 86
  .. ..$ : int 87
  .. ..$ : int 88
  .. ..$ : int 89
  .. ..$ : int 90
  .. ..$ : int 91
  .. ..$ : int 92
  .. ..$ : int 93
  .. ..$ : int 94
  .. ..$ : int 95
  .. ..$ : int 96
  .. ..$ : int 97
  .. ..$ : int 98
  .. ..$ : int 99
  .. .. [list output truncated]
  .. ..@ ptype: int(0)
  ..- attr(*, ".drop")= logi TRUE

    country                            mean        max      min         median
1   Albania                             1.00000000 2.000000  0.00000000 1.00
2   Anguilla                            2.00000000 2.000000  2.00000000 2.00
3   Argentina                           0.18869056 3.000000 -2.33333325 0.00
4   Australia                           0.37932134 4.500000 -4.00000000 0.00
5   Austria                             0.28212766 3.000000 -2.50000000 0.00
6   Bangladesh                          0.41904762 4.000000 -6.00000000 0.00
7   Belarus                             0.16636996 1.000000 -0.01310044 0.00
8   Belgium                             0.65188889 4.000000 -3.00000000 0.00
9   Bolivia                             0.12461538 2.000000 -1.00000000 0.00
10  Bolivia (Plurinational State of)    1.00000000 1.000000  1.00000000 1.00
11  Bosnia and Herzegovina              0.25000000 2.000000 -2.00000000 0.00
12  Botswana                            2.00000000 2.000000  2.00000000 2.00
13  Brazil                              0.43920959 4.500000 -2.00000000 0.00
14  Bulgaria                            0.42307692 3.000000  0.00000000 0.00
15  Cambodia                            0.37500000 3.000000 -1.00000000 0.00
16  Cameroon                            0.71428571 4.000000 -1.00000000 0.00
17  Canada                              0.44498611 4.000000 -6.00000000 0.00
18  Central African Republic            0.50000000 3.000000 -1.00000000 0.00
19  Chile                               0.09332331 2.500000 -2.00000000 0.00
20  China                               0.49987832 4.000000 -4.00000000 0.00
21  Colombia                            0.18780010 4.000000 -2.00000000 0.00
22  Congo                               0.00000000 0.000000  0.00000000 0.00
23  Costa Rica                          0.40000000 2.000000  0.00000000 0.00
24  Croatia                             0.66666667 2.500000 -0.50000000 0.00
25  Cuba                                0.87500000 2.000000  0.00000000 0.75
26  Cyprus                             -0.33333333 2.000000 -2.00000000 0.00
27  Czech Republic                      0.16406250 3.000000 -2.00000000 0.00
28  Democratic Republic of the Congo    0.00000000 0.000000  0.00000000 0.00
29  Denmark                             0.54673424 4.333333 -2.00000000 0.00
30  Dominican Republic                  0.70000000 2.500000  0.00000000 0.00
⋮   ⋮                                  ⋮           ⋮        ⋮           ⋮
98  Serbia                              0.34789644 3.000000 -2.00000000 0.00
99  Singapore                           0.07407407 1.666667 -2.00000000 0.00
100 Slovakia                            0.20000000 1.000000  0.00000000 0.00
101 Slovenia                            0.44444444 2.000000  0.00000000 0.00
102 South Africa                        0.48523020 4.000000 -2.33333325 0.00
103 South Korea                         0.25271431 4.000000 -1.00000000 0.00
104 Spain                               0.31318468 4.000000 -4.00000000 0.00
105 Sri Lanka                           0.52631579 4.000000 -2.00000000 0.00
106 Sudan                               0.00000000 0.000000  0.00000000 0.00
107 Sweden                              0.56485356 3.500000 -4.00000000 0.00
108 Switzerland                         0.26352113 4.000000 -2.00000000 0.00
109 Syria                               0.00000000 0.000000  0.00000000 0.00
110 Taiwan                              0.46337429 4.000000 -2.00000000 0.00
111 Taiwan (Province of China)         -0.03066667 0.000000 -0.09200002 0.00
112 Tanzania                            0.00000000 0.000000  0.00000000 0.00
113 Thailand                            0.04010753 3.000000 -3.00000000 0.00
114 Turkey                              0.01711813 3.000000 -3.00000000 0.00
115 Turkmenistan                        0.00000000 0.000000  0.00000000 0.00
116 Uganda                              0.36274510 2.666667 -0.50000000 0.00
117 UK                                  0.45004357 6.000000 -6.00000000 0.00
118 Ukraine                             0.19056383 3.000000 -2.50000000 0.00
119 United Arab Emirates                0.44308824 4.000000 -3.00000000 0.00
120 Uruguay                             0.19133333 2.000000  0.00000000 0.14
121 USA                                 0.41934406 6.000000 -6.00000000 0.00
122 Venezuela                           0.14235938 3.000000 -3.00000000 0.00
123 Venezuela (Bolivarian Republic of)  0.01666667 0.100000  0.00000000 0.00
124 Viet Nam                            0.18681319 4.000000 -3.00000000 0.00
125 Vietnam                             0.35000000 3.000000  0.00000000 0.00
126 Zambia                              2.00000000 4.000000  0.00000000 2.00
127 Zimbabwe                            0.25000000 1.000000  0.00000000 0.00
    meanR
1     86.0000
2    239.0000
3   1306.9639
4   1595.0920
5   1115.1489
6   1545.6000
7    496.7500
8   1946.9111
9    958.2308
10   226.0000
11   203.2500
12  3714.0000
13  1662.2439
14   365.8462
15   212.1250
16  1126.1429
17  6835.4333
18   289.5000
19  1562.4386
20   421.9141
21  1563.1122
22   678.0000
23   406.2000
24   183.8889
25   181.5000
26  1495.0000
27   656.8906
28     6.0000
29   778.7432
30   205.8000
⋮   ⋮
98   1510.1165
99    480.1111
100   246.4000
101  1385.6667
102  1014.3923
103  5950.9781
104  1309.5100
105   485.9474
106   369.0000
107  3131.5356
108   804.3662
109   347.0000
110  1632.4576
111   518.6667
112    47.0000
113  1054.6935
114 34821.1874
115  1022.0000
116   906.3529
117  2312.1190
118   730.2500
119  1827.4485
120  2557.0000
121 17058.7504
122  1492.9750
123   987.0000
124    63.7033
125   425.8000
126   627.5000
127  1435.5000

    country                            n
1   Albania                               2
2   Anguilla                              1
3   Argentina                           277
4   Australia                          1521
5   Austria                              94
6   Bangladesh                          105
7   Belarus                               8
8   Belgium                              90
9   Bolivia                              13
10  Bolivia (Plurinational State of)      1
11  Bosnia and Herzegovina                8
12  Botswana                              1
13  Brazil                              783
14  Bulgaria                             13
15  Cambodia                              8
16  Cameroon                              7
17  Canada                              480
18  Central African Republic              4
19  Chile                               114
20  China                               489
21  Colombia                            196
22  Congo                                 1
23  Costa Rica                            5
24  Croatia                               9
25  Cuba                                  4
26  Cyprus                                6
27  Czech Republic                       64
28  Democratic Republic of the Congo      1
29  Denmark                              74
30  Dominican Republic                    5
⋮   ⋮                                  ⋮
98  Serbia                               103
99  Singapore                              9
100 Slovakia                              10
101 Slovenia                               9
102 South Africa                         181
103 South Korea                          274
104 Spain                               1151
105 Sri Lanka                             19
106 Sudan                                  1
107 Sweden                               239
108 Switzerland                           71
109 Syria                                  1
110 Taiwan                               236
111 Taiwan (Province of China)             3
112 Tanzania                               1
113 Thailand                             124
114 Turkey                               886
115 Turkmenistan                           1
116 Uganda                                17
117 UK                                  4782
118 Ukraine                               24
119 United Arab Emirates                 136
120 Uruguay                               20
121 USA                                24202
122 Venezuela                            160
123 Venezuela (Bolivarian Republic of)     6
124 Viet Nam                              91
125 Vietnam                               10
126 Zambia                                 2
127 Zimbabwe                               4

### Data Analysis (Part 2 / 4)

In this part we will create a map showing the exact location that the tweet was made by a user along with some info about the tweet and the user, such as, their gender, number of retweets, the language of the tweet and the Klout score.

In [10]:
for (i in unique(data$UserID)){#2-3mins
  while (TRUE){
    run=runif(1,-0.01,0.01)
    run1=runif(1,-0.01,0.01)
    if (run!=0 & run1!=0){
      break
    }
  }
  data$long[data$UserID==i]=data$long[data$UserID==i]+run 
  data$lat[data$UserID==i]=data$lat[data$UserID==i]+run1
}

for (i in unique(dataB$UserID)){#2-3 mins
  while (TRUE){
    run=runif(1,-0.01,0.01)
    run1=runif(1,-0.01,0.01)
    if (run!=0 & run1!=0){
      break
    }
  }
  dataB$long[dataB$UserID==i]=dataB$long[dataB$UserID==i]+run 
  dataB$lat[dataB$UserID==i]=dataB$lat[dataB$UserID==i]+run1
}


popup=function(x,y) {paste0("Language: ",x,"<br/>","Number of Retweets: ",y)}
label= function(x) {paste("Klout: ",x)}
male=data %>% filter(gender=="Male")
female=data %>% filter(gender=="Female")
unisex=data %>% filter(gender=="Unisex")
unknown=data %>% filter(gender=="Unknown")

suppressWarnings({map1=leaflet() %>%
  addProviderTiles('CartoDB') %>%
  addCircleMarkers(data=male,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Male"
                   ) %>%
  addCircleMarkers(data=female,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Female" 
                   ) %>%
  addCircleMarkers(data=unisex,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Unisex" 
                   ) %>%
  addCircleMarkers(data=unknown,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Unknown" 
                   ) %>%
  addLegend(pal = coloring,
            values = c("Female","Male","Unisex","Unknown")) %>%
  addLayersControl(overlayGroups = c("Male","Female",'Unisex','Unknown'))
})  

maleB=dataB %>% filter(gender=="Male")
femaleB=dataB %>% filter(gender=="Female")
unisexB=dataB %>% filter(gender=="Unisex")
unknownB=dataB %>% filter(gender=="Unknown")
suppressWarnings({map1B=leaflet() %>%
  addProviderTiles('CartoDB') %>%
  addCircleMarkers(data=maleB,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Male"
  ) %>%
  addCircleMarkers(data=femaleB,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Female" 
  ) %>%
  addCircleMarkers(data=unisexB,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Unisex" 
  ) %>%
  addCircleMarkers(data=unknownB,
                   lng = ~long,
                   lat = ~lat,
                   radius = 1.4,
                   clusterOptions = markerClusterOptions(),
                   label = ~label(Klout),
                   popup = ~popup(Lang,RetweetCount),
                   color = ~coloring(gender),
                   group = "Unknown" 
  ) %>%
  addLegend(pal = coloring,
            values = c("Female","Male","Unisex","Unknown")) %>%
  addLayersControl(overlayGroups = c("Male","Female",'Unisex','Unknown')) 
})

Web Scraping to write countries dataset.

In [ ]:
#Web scraping
#URL="https://developers.google.com/public-data/docs/canonical/countries_csv"

#web=read_html(URL)

#all=web %>%
#  html_nodes("td") %>% html_text()

#df=data.frame(code=all[seq(1,length(all),4)],latitude=all[seq(2,length(all),4)],longtitude=all[seq(3,length(all),4)],country=all[seq(4,length(all),4)])

#write.csv(df,'D:/Semester 2/Data Analytics and Visualisation/Assignment 1/countries.csv')

In [11]:
countries=read.csv("D:/Semester 2/Data Analytics and Visualisation/Assignment 1/countries.csv")
countries$country[countries$country=="United States"]="USA" 
countries$country[countries$country=="United Kingdom"]="UK"
countries$country[countries$code=="CI"]="Ivory Coast"
countries$country[countries$country=="Congo [DRC]"]="Democratic Republic of the Congo"
countries$country[countries$country=="Congo [Republic]"]="Congo"
str(countries)
View(countries)

for (i in unique(set2$country)){
  if(length(which(countries$country==i))==0){next}else{
    x=set2$n[(set2$country==i) & (set2$gender=="Male")]
    y=set2$n[(set2$country==i) & (set2$gender=="Female")]
    z=set2$n[(set2$country==i) & (set2$gender=="Unisex")]
    w=set2$n[(set2$country==i) & (set2$gender=="Unknown")]
    if (length(x)==0){x=0}
    if (length(y)==0){y=0}
    if (length(z)==0){z=0}
    if (length(w)==0){w=0}
    map=map %>%
      addMinicharts(lng = countries$longtitude[countries$country==i],
                    lat = countries$latitude[countries$country==i],
                    chartdata =c(x,y,z,w),
                    type = 'bar',
                    opacity = 1,
                    width = 22,
                    height = 32)
  }
}

map=map %>% addLegend(position = 'bottomright',
                      pal = colorFactor(palette = c("blue",'orange','green','red'),
                                        levels = c("Male","Female","Unisex","Unknown")),
                      values = c("Male","Female","Unisex","Unknown"),
                      title = "Bar Colors")

'data.frame':	245 obs. of  5 variables:
 $ X         : int  1 2 3 4 5 6 7 8 9 10 ...
 $ code      : chr  "AD" "AE" "AF" "AG" ...
 $ latitude  : num  42.5 23.4 33.9 17.1 18.2 ...
 $ longtitude: num  1.6 53.8 67.7 -61.8 -63.1 ...
 $ country   : chr  "Andorra" "United Arab Emirates" "Afghanistan" "Antigua and Barbuda" ...

    X   code latitude   longtitude  country
1    1  AD    42.546245    1.601554 Andorra
2    2  AE    23.424076   53.847818 United Arab Emirates
3    3  AF    33.939110   67.709953 Afghanistan
4    4  AG    17.060816  -61.796428 Antigua and Barbuda
5    5  AI    18.220554  -63.068615 Anguilla
6    6  AL    41.153332   20.168331 Albania
7    7  AM    40.069099   45.038189 Armenia
8    8  AN    12.226079  -69.060087 Netherlands Antilles
9    9  AO   -11.202692   17.873887 Angola
10  10  AQ   -75.250973   -0.071389 Antarctica
11  11  AR   -38.416097  -63.616672 Argentina
12  12  AS   -14.270972 -170.132217 American Samoa
13  13  AT    47.516231   14.550072 Austria
14  14  AU   -25.274398  133.775136 Australia
15  15  AW    12.521110  -69.968338 Aruba
16  16  AZ    40.143105   47.576927 Azerbaijan
17  17  BA    43.915886   17.679076 Bosnia and Herzegovina
18  18  BB    13.193887  -59.543198 Barbados
19  19  BD    23.684994   90.356331 Bangladesh
20  20  BE    50.503887    4.469936 Belgium
21  21  BF    12.238333   -1.561593 Burkina Faso
22  22  BG    42.733883   25.485830 Bulgaria
23  23  BH    25.930414   50.637772 Bahrain
24  24  BI    -3.373056   29.918886 Burundi
25  25  BJ     9.307690    2.315834 Benin
26  26  BM    32.321384  -64.757370 Bermuda
27  27  BN     4.535277  114.727669 Brunei
28  28  BO   -16.290154  -63.588653 Bolivia
29  29  BR   -14.235004  -51.925280 Brazil
30  30  BS    25.034280  -77.396280 Bahamas
⋮   ⋮   ⋮    ⋮          ⋮           ⋮
216 216 TL    -8.874217  125.727539 Timor-Leste
217 217 TM    38.969719   59.556278 Turkmenistan
218 218 TN    33.886917    9.537499 Tunisia
219 219 TO   -21.178986 -175.198242 Tonga
220 220 TR    38.963745   35.243322 Turkey
221 221 TT    10.691803  -61.222503 Trinidad and Tobago
222 222 TV    -7.109535  177.649330 Tuvalu
223 223 TW    23.697810  120.960515 Taiwan
224 224 TZ    -6.369028   34.888822 Tanzania
225 225 UA    48.379433   31.165580 Ukraine
226 226 UG     1.373333   32.290275 Uganda
227 227 UM           NA          NA U.S. Minor Outlying Islands
228 228 US    37.090240  -95.712891 USA
229 229 UY   -32.522779  -55.765835 Uruguay
230 230 UZ    41.377491   64.585262 Uzbekistan
231 231 VA    41.902916   12.453389 Vatican City
232 232 VC    12.984305  -61.287228 Saint Vincent and the Grenadines
233 233 VE     6.423750  -66.589730 Venezuela
234 234 VG    18.420695  -64.639968 British Virgin Islands
235 235 VI    18.335765  -64.896335 U.S. Virgin Islands
236 236 VN    14.058324  108.277199 Vietnam
237 237 VU   -15.376706  166.959158 Vanuatu
238 238 WF   -13.768752 -177.156097 Wallis and Futuna
239 239 WS   -13.759029 -172.104629 Samoa
240 240 XK    42.602636   20.902977 Kosovo
241 241 YE    15.552727   48.516388 Yemen
242 242 YT   -12.827500   45.166244 Mayotte
243 243 ZA   -30.559482   22.937506 South Africa
244 244 ZM   -13.133897   27.849332 Zambia
245 245 ZW   -19.015438   29.154857 Zimbabwe

### Data Analysis (Part 3 / 4)

In this part we perform multivariate analysis displaying scatter plots of Reach vs Klout. Each point of the scatter plot is a tweets and for each of them we can get relevant info such as, Gender, whether has been reshared or not, number of likes, and sentiment. Different transformations can also be applied (Arctan and Log) for visualisation reasons.

In [12]:

for (i in unique(set2B$country)){
  if(length(which(countries$country==i))==0){next}else{
    x=set2B$n[(set2B$country==i) & (set2B$gender=="Male")]
    y=set2B$n[(set2B$country==i) & (set2B$gender=="Female")]
    z=set2B$n[(set2B$country==i) & (set2B$gender=="Unisex")]
    w=set2B$n[(set2B$country==i) & (set2B$gender=="Unknown")]
    if (length(x)==0){x=0}
    if (length(y)==0){y=0}
    if (length(z)==0){z=0}
    if (length(w)==0){w=0}
    mapB=mapB %>%
      addMinicharts(lng = countries$longtitude[countries$country==i],
                    lat = countries$latitude[countries$country==i],
                    chartdata =c(x,y,z,w),
                    type = 'bar',
                    opacity = 1,
                    width = 22,
                    height = 32)
  }
}
mapB=mapB %>% addLegend(position = 'bottomright',
                        pal = colorFactor(palette = c("blue",'orange','green','red'),
                                          levels = c("Male","Female","Unisex","Unknown")),
                        values = c("Male","Female","Unisex","Unknown"),
                        title = "Bar Colors")







dfA=data
dfB=dataB
str(dfA)
str(dfB)
View(dfB)

dfA$Sentiment[dfA$Sentiment>1]="Much Positive"
dfA$Sentiment[dfA$Sentiment>0 & dfA$Sentiment<=1]="Positive"
dfA$Sentiment[dfA$Sentiment==0]="Neutral"
dfA$Sentiment[dfA$Sentiment>=-1 & dfA$Sentiment<0]="Negative"
dfA$Sentiment[dfA$Sentiment< -1]="Much Negative"

dfB$Sentiment[dfB$Sentiment>1]="Much Positive"
dfB$Sentiment[dfB$Sentiment>0 & dfB$Sentiment<=1]="Positive"
dfB$Sentiment[dfB$Sentiment==0]="Neutral"
dfB$Sentiment[dfB$Sentiment>=-1 & dfB$Sentiment<0]="Negative"
dfB$Sentiment[dfB$Sentiment< -1]="Much Negative"
dfB$gender[dfB$gender==0]="Unknown"
View(dataB)

dframe=data[,-c(12:16)]

tibble [50,000 × 22] (S3: tbl_df/tbl/data.frame)
 $ TweetID     : chr [1:50000] "tw-682712873332805633" "tw-682713045357998080" "tw-682713219375476736" "tw-682713436967579648" ...
 $ Weekday     : Factor w/ 7 levels "Friday","Monday",..: 5 5 5 5 5 5 5 5 5 5 ...
 $ Hour        : int [1:50000] 17 17 17 17 17 17 17 17 17 17 ...
 $ Day         : int [1:50000] 31 31 31 31 31 31 31 31 31 31 ...
 $ Lang        : Factor w/ 30 levels "_u","ar","cs",..: 7 7 7 7 7 7 7 7 7 7 ...
 $ IsReshare   : Factor w/ 2 levels "FALSE","TRUE": 1 2 1 1 1 1 1 1 1 2 ...
 $ Reach       : int [1:50000] 44 1810 282 2087 953 113 113 113 4893 2868 ...
 $ RetweetCount: int [1:50000] 0 5 0 4 0 0 0 0 1 6 ...
 $ Likes       : int [1:50000] 0 0 0 0 0 0 0 0 0 0 ...
 $ Klout       : int [1:50000] 35 53 47 53 47 31 31 31 49 51 ...
 $ Sentiment   : num [1:50000] 0 2 0 0 0 -1 -2 -1 0 2 ...
 $ text        : chr [1:50000] "We are hiring: Senior Software Engineer - Proto http://www.reqcloud.com/jobs/719865/?k=0LaPxXuFwczs1e32ZURJKrgC"| __truncated__ "RT @CodeMineStatus: This is true Amazon Web Services https://aws.amazon.com/ #php #html #html5 #css #webdesign "| __truncated__ "Devops Engineer Aws Ansible Cassandra Mysql Ubuntu Ruby On Rails Jobs in Austin TX #Austin #TX #jobs #jobsearch"| __truncated__ "Happy New Year to all those AWS instances of ours!" ...
 $ LocationID  : num [1:50000] 3751 3989 3741 3753 3751 ...
 $ UserID      : Factor w/ 19656 levels "tw-10000632",..: 14140 11630 15116 13034 11599 2636 2636 2636 6596 3563 ...
 $ country     : Factor w/ 136 levels "Albania","Algeria",..: 130 130 130 130 130 130 130 130 130 12 ...
 $ state       : Factor w/ 815 levels "Aargau","Aberdeen City",..: 773 296 716 133 773 133 133 133 559 294 ...
 $ statecode   : chr [1:50000] "US-WA" "US-FL" "US-TX" "US-CA" ...
 $ city        : Factor w/ 2723 levels "'s-Hertogenbosch",..: 2191 1776 136 2120 2191 2119 2119 2119 1919 6 ...
 $ gender      : Factor w/ 4 levels "Female","Male",..: 1 2 2 3 4 3 3 3 4 2 ...
 $ long        : num [1:50000] -122.3 -82.7 -97.8 -122.5 -122.3 ...
 $ lat         : num [1:50000] 47.5 28.1 30.3 37.8 47.6 ...
 $ pop         : int [1:50000] 570430 NA 683404 723724 570430 1299352 1299352 1299352 542751 27646 ...
tibble [50,000 × 22] (S3: tbl_df/tbl/data.frame)
 $ TweetID     : chr [1:50000] "tw-699956523758387201" "tw-699956772468105217" "tw-699956793636753408" "tw-699956949002149888" ...
 $ Weekday     : Factor w/ 7 levels "Friday","Monday",..: 7 7 7 7 7 7 7 7 7 7 ...
 $ Hour        : int [1:50000] 7 7 7 7 7 7 7 7 7 7 ...
 $ Day         : int [1:50000] 17 17 17 17 17 17 17 17 17 17 ...
 $ Lang        : Factor w/ 35 levels "_u","ar","cs",..: 7 7 7 23 7 12 7 7 33 7 ...
 $ IsReshare   : Factor w/ 2 levels "FALSE","TRUE": 2 1 2 1 2 1 1 1 1 1 ...
 $ Reach       : int [1:50000] 2095 4540 11 258 134 150 780 107 42060 52 ...
 $ RetweetCount: int [1:50000] 1 1 1 4 2 0 0 0 0 0 ...
 $ Likes       : int [1:50000] 0 0 0 0 0 0 0 0 0 0 ...
 $ Klout       : int [1:50000] 55 52 14 31 27 27 57 29 50 41 ...
 $ Sentiment   : num [1:50000] 0 0 0 0 0 0 2 0 0 0 ...
 $ text        : chr [1:50000] "RT @mchamberlain99: #Dropbox expanding into #Europe hosting customer #data in #Germany http://www.eweek.com/sto"| __truncated__ "In ONE HOUR: Securing #Office365 #AWS and #SFDC with SafeNet Authentication Service https://www.brighttalk.com/"| __truncated__ "RT @GemaltoSecurity: Webcast in ONE HOUR: Securing #Office365 #AWS and #SFDC with SafeNet Authentication Servic"| __truncated__ "Davinci levert met partner Amazon Web Services diensten vanuit de #cloud #innovatie Lees meer: http://davincigr"| __truncated__ ...
 $ LocationID  : num [1:50000] 3048 3019 3851 2055 3927 ...
 $ UserID      : Factor w/ 19202 levels "tw-1000137907",..: 1755 15616 11019 7813 7974 7604 8676 8126 9970 6870 ...
 $ country     : Factor w/ 127 levels "Albania","Anguilla",..: 117 117 121 74 121 36 121 29 114 74 ...
 $ state       : Factor w/ 836 levels "Aberdeen City",..: 228 325 141 539 480 358 507 151 366 771 ...
 $ statecode   : chr [1:50000] "GB-Y1" "GB-GLA" "US-CA" "NL" ...
 $ city        : Factor w/ 2774 levels "'s-Hertogenbosch",..: 645 1416 2126 84 1598 1879 2051 577 1129 2563 ...
 $ gender      : Factor w/ 5 levels "0","Female","Male",..: 3 5 3 3 2 2 3 3 5 3 ...
 $ long        : num [1:50000] -3.031 -0.103 -121.472 4.886 -93.265 ...
 $ lat         : num [1:50000] 53.2 51.5 38.6 52.4 45 ...
 $ pop         : int [1:50000] NA 7489022 480392 744159 364726 2141839 206626 1091978 10034830 280559 ...

      TweetID               Weekday   Hour Day Lang IsReshare Reach
1     tw-699956523758387201 Wednesday 7    17  en   TRUE       2095
2     tw-699956772468105217 Wednesday 7    17  en   FALSE      4540
3     tw-699956793636753408 Wednesday 7    17  en   TRUE         11
4     tw-699956949002149888 Wednesday 7    17  nl   FALSE       258
5     tw-699957060495155200 Wednesday 7    17  en   TRUE        134
6     tw-699957889637593089 Wednesday 7    17  fr   FALSE       150
7     tw-699957890317225985 Wednesday 7    17  en   FALSE       780
8     tw-699957909350965248 Wednesday 7    17  en   FALSE       107
9     tw-699958989329690624 Wednesday 7    17  tr   FALSE     42060
10    tw-699959096171171840 Wednesday 7    17  en   FALSE        52
11    tw-699960676626800640 Wednesday 7    17  en   FALSE        28
12    tw-699961098066337792 Wednesday 7    17  en   FALSE       424
13    tw-699961348919336961 Wednesday 7    17  tr   FALSE     12283
14    tw-699961549822283777 Wednesday 7    17  en   FALSE       595
15    tw-699961893755072513 Wednesday 7    17  en   FALSE       178
16    tw-699962194641887232 Wednesday 7    17  en   TRUE      17897
17    tw-699962283150221312 Wednesday 7    17  en   TRUE        447
18    tw-699962882897920000 Wednesday 7    17  en   FALSE       482
19    tw-699963119099990016 Wednesday 7    17  en   FALSE       178
20    tw-699963150129631232 Wednesday 7    17  en   TRUE      20740
21    tw-699963489834635264 Wednesday 7    17  en   TRUE        676
22    tw-699963495610081281 Wednesday 7    17  en   FALSE       178
23    tw-699963677907275776 Wednesday 7    17  en   FALSE       487
24    tw-699964022481907712 Wednesday 7    17  en   FALSE      2237
25    tw-699964084792373248 Wednesday 7    17  en   FALSE        69
26    tw-699964187351474176 Wednesday 7    17  en   FALSE       178
27    tw-699964270298079232 Wednesday 7    17  en   FALSE      3376
28    tw-699964811623403520 Wednesday 7    17  en   FALSE     35652
29    tw-699964994801152001 Wednesday 7    17  en   TRUE        178
30    tw-699965382258466816 Wednesday 7    17  fr   FALSE        18
⋮     ⋮                     ⋮         ⋮    ⋮   ⋮    ⋮         ⋮
49971 tw-716334585819189248 Saturday  12   2   en   FALSE       1652
49972 tw-716335121268248576 Saturday  12   2   en   FALSE       1652
49973 tw-716335141468045312 Saturday  12   2   en   TRUE         891
49974 tw-716335974901395456 Saturday  12   2   en   FALSE        553
49975 tw-716337025230700545 Saturday  12   2   en   FALSE        268
49976 tw-716338263422812170 Saturday  12   2   en   FALSE        309
49977 tw-716339058629152769 Saturday  12   2   en   TRUE        5341
49978 tw-716339429988655105 Saturday  13   2   en   FALSE     170105
49979 tw-716339927152132096 Saturday  13   2   en   FALSE       3975
49980 tw-716341469095723008 Saturday  13   2   en   TRUE          26
49981 tw-716341960299118593 Saturday  13   2   en   FALSE        243
49982 tw-716343283698561024 Saturday  13   2   en   TRUE         736
49983 tw-716343755905900544 Saturday  13   2   en   TRUE         747
49984 tw-716344007509422081 Saturday  13   2   en   FALSE        429
49985 tw-716345042424750081 Saturday  13   2   en   FALSE        648
49986 tw-716345266417176576 Saturday  13   2   en   FALSE        108
49987 tw-716346816334159872 Saturday  13   2   it   FALSE         78
49988 tw-716347201157357568 Saturday  13   2   en   TRUE         706
49989 tw-716347346733309952 Saturday  13   2   en   FALSE       9187
49990 tw-716348105067794432 Saturday  13   2   en   TRUE         118
49991 tw-716348205055619073 Saturday  13   2   en   FALSE        972
49992 tw-716348665632333824 Saturday  13   2   en   FALSE        763
49993 tw-716348879608942593 Saturday  13   2   en   FALSE        763
49994 tw-716349145771065344 Saturday  13   2   en   FALSE        763
49995 tw-716349383688720385 Saturday  13   2   en   TRUE         415
49996 tw-716349486742700032 Saturday  13   2   hi   TRUE        1143
49997 tw-716349615340199937 Saturday  13   2   en   FALSE        763
49998 tw-716351557516722176 Saturday  13   2   en   TRUE         122
49999 tw-716352501860196352 Saturday  13   2   en   TRUE         287
50000 tw-716352771209887744 Saturday  13   2   en   FALSE       2422
      RetweetCount Likes Klout ⋯ LocationID UserID        country
1      1           0     55    ⋯ 3048       tw-135150713  UK
2      1           0     52    ⋯ 3019       tw-52748391   UK
3      1           0     14    ⋯ 3851       tw-3145304566 USA
4      4           0     31    ⋯ 2055       tw-238048977  Netherlands
5      2           0     27    ⋯ 3927       tw-24172457   USA
6      0           0     27    ⋯  800       tw-2343826152 France
7      0           0     57    ⋯ 3745       tw-2588391314 USA
8      0           0     29    ⋯  712       tw-24527668   Denmark
9      0           0     50    ⋯ 2963       tw-2903118737 Turkey
10     0           0     41    ⋯ 2057       tw-2202817080 Netherlands
11     0           0     15    ⋯ 5159       tw-267981961  USA
12     3           0     42    ⋯ 3019       tw-3431367627 UK
13     0           0     48    ⋯ 2969       tw-2972030505 Turkey
14     0           0     52    ⋯ 3060       tw-1722831672 UK
15     3           0     38    ⋯ 5618       tw-566534819  USA
16     1           0     48    ⋯ 3762       tw-15812482   USA
17    52           0     42    ⋯ 3776       tw-403823     USA
18     0           0     44    ⋯ 4368       tw-392724263  USA
19     3           0     38    ⋯ 5618       tw-566534819  USA
20    10           0     61    ⋯ 3820       tw-16926194   USA
21    17           0     46    ⋯ 3739       tw-2983205617 USA
22     3           0     38    ⋯ 5618       tw-566534819  USA
23     0           0     45    ⋯ 3758       tw-925136652  USA
24     4           0     49    ⋯ 2844       tw-123236640  Sweden
25     0           0     19    ⋯ 1337       tw-279387044  India
26     2           0     38    ⋯ 5618       tw-566534819  USA
27     0           0     56    ⋯ 3796       tw-1953680102 USA
28     0           0     58    ⋯ 3784       tw-409551566  USA
29     1           0     38    ⋯ 5618       tw-566534819  USA
30     0           0     19    ⋯ 3752       tw-3228354673 USA
⋮     ⋮            ⋮     ⋮     ⋱ ⋮          ⋮             ⋮
49971   1          0     56    ⋯ 3764       tw-4622401    USA
49972   0          0     56    ⋯ 3764       tw-4622401    USA
49973   1          0     43    ⋯ 3909       tw-45547881   USA
49974   0          0      0    ⋯ 3954       tw-385014632  USA
49975   0          0     27    ⋯ 3766       tw-12304742   USA
49976   0          0     40    ⋯ 3927       tw-22156887   USA
49977  47          0     61    ⋯ 4044       tw-2533300892 USA
49978   2          0     54    ⋯ 3793       tw-34146256   USA
49979   0          0     55    ⋯ 3796       tw-1953680102 USA
49980   8          0     21    ⋯ 3751       tw-604139581  USA
49981   0          0     25    ⋯ 2056       tw-59758748   Netherlands
49982   3          0     45    ⋯ 3818       tw-2265207757 USA
49983  10          0     54    ⋯  800       tw-563290517  France
49984   0          0     42    ⋯ 3751       tw-467721367  USA
49985   0          0     25    ⋯  289       tw-13189852   Brazil
49986   0          0     33    ⋯ 3764       tw-805470097  USA
49987   0          0     17    ⋯ 1946       tw-3610272913 Mexico
49988   2          0     46    ⋯ 3751       tw-264165471  USA
49989   1          0      0    ⋯ 3886       tw-637533     USA
49990   8          0     35    ⋯ 3350       tw-16310237   UK
49991   0          0     57    ⋯ 1486       tw-124030974  Indonesia
49992   0          0     29    ⋯ 1332       tw-1143330170 India
49993   0          0     29    ⋯ 1332       tw-1143330170 India
49994   0          0     29    ⋯ 1332       tw-1143330170 India
49995  15          0     44    ⋯  611       tw-3316009302 China
49996   1          0     49    ⋯ 1349       tw-4667163978 India
49997   0          0     29    ⋯ 1332       tw-1143330170 India
49998 435          0     17    ⋯ 1336       tw-139346924  India
49999  30          0     42    ⋯ 3795       tw-21826302   USA
50000   1          0     34    ⋯ 4007       tw-2286856224 USA
      state                statecode city             gender  long
1     County of Flintshire GB-Y1     Deeside          Male      -3.03128993
2     Greater London       GB-GLA    London           Unknown   -0.10297678
3     California           US-CA     Sacramento       Male    -121.47164743
4     North Holland        NL        Amsterdam        Male       4.88597356
5     Minnesota            US-MN     Minneapolis      Female   -93.26520052
6     Ile-de-France        FR        Paris            Female     2.33214259
7     Nevada               US-NV     Reno             Male    -119.81365833
8     Capital Region       DK        Copenhagen       Male      12.56317261
9     Istanbul             TR        Istanbul         Unknown   29.00968050
10    Utrecht              NL        Utrecht          Male       5.10157618
11    New York             US-NY     Schenectady      Unisex   -73.92133113
12    Greater London       GB-GLA    London           Male      -0.09020674
13    Izmir                TR        Karyaka          Female             NA
14    Hampshire            GB-F2     Fareham          Unknown   -1.18467377
15    California           US-CA     Newark           Unknown  -74.17299573
16    Colorado             US-CO     Westminster      Unknown -105.04098078
17    Illinois             US-IL     Chicago          Unknown  -87.67708240
18    Texas                US-TX     Plano            Unknown  -96.74012921
19    California           US-CA     Newark           Unknown  -74.17299573
20    Florida              US-FL     Miami            Unknown  -80.21393763
21    Washington  D.C.     US-DC     Washington       Male     -77.01387995
22    California           US-CA     Newark           Unknown  -74.17299573
23    Pennsylvania         US-PA     Philadelphia     Unknown  -75.12747567
24    Stockholm            SE        Stockholm        Unknown   18.06093756
25    Uttar Pradesh        IN        Noida            Male      77.33316498
26    California           US-CA     Newark           Unknown  -74.17299573
27    California           US-CA     Dublin           Unknown -121.90023401
28    California           US-CA     Sunnyvale        Unknown -122.03755392
29    California           US-CA     Newark           Unknown  -74.17299573
30    Texas                US-TX     Dallas           Unknown  -96.76826800
⋮     ⋮                    ⋮         ⋮                ⋮       ⋮
49971 Oregon               US-OR     Portland         Female  -122.651676
49972 Oregon               US-OR     Portland         Female  -122.651676
49973 California           US-CA     Los Gatos        Female  -121.979094
49974 California           US-CA     Santa Monica     Male    -118.486949
49975 Massachusetts        US-MA     Boston           Female   -71.013034
49976 Minnesota            US-MN     Minneapolis      Male     -93.277811
49977 Colorado             US-CO     Colorado Springs Male    -104.755058
49978 Texas                US-TX     San Antonio      Male     -98.516767
49979 California           US-CA     Dublin           Unknown -121.900234
49980 Washington           US-WA     Seattle          Female  -122.293566
49981 North Holland        NL        Uithoorn         Unknown    4.838334
49982 North Carolina       US-NC     Chapel Hill      Female   -79.044914
49983 Ile-de-France        FR        Paris            Male       2.349819
49984 Washington           US-WA     Seattle          Female  -122.296220
49985 Sao Paulo            BR        Sao Paulo        Male     -46.626335
49986 Oregon               US-OR     Portland         Male    -122.667714
49987 Campeche             MX        Hecelchakn       Unisex           NA
49988 Washington           US-WA     Seattle          Male    -122.290949
49989 California           US-CA     Oakland          Unknown -122.210567
49990 Nottinghamshire      GB-J9     Mansfield        Male      -1.205971
49991 Jakarta Raya         ID        Jakarta          Male     106.839950
49992 Maharashtra          IN        Mumbai           Unknown   73.051639
49993 Maharashtra          IN        Mumbai           Unknown   73.051639
49994 Maharashtra          IN        Mumbai           Unknown   73.051639
49995 Beijing              CN        Beijing          Male     116.406806
49996 Rajasthan            IN        Jaipur           Unisex    75.800929
49997 Maharashtra          IN        Mumbai           Unknown   73.051639
49998 Andhra Pradesh       IN        Hyderabad        Unknown   78.477035
49999 Illinois             US-IL     Moline           Unknown  -90.499647
50000 Alabama              US-AL     Tuscaloosa       Unknown  -87.535969
      lat        pop
1     53.20506         NA
2     51.51037    7489022
3     38.57758     480392
4     52.36615     744159
5     44.96823     364726
6     48.85231    2141839
7     39.53853     206626
8     55.67525    1091978
9     41.10621   10034830
10    52.10441     280559
11    42.79335      59930
12    51.52170    7489022
13          NA         NA
14    50.84751      57657
15    40.72011     281378
16    39.87768     104708
17    41.83148    2830144
18    33.05733     260415
19    40.72011     281378
20    25.78019     386740
21    38.91203     548359
22    40.72011     281378
23    40.00144    1439814
24    59.33582    1260712
25    28.58171     405750
26    40.72011     281378
27    37.71687      40791
28    37.38870     125486
29    40.72011     281378
30    32.78901    1216543
⋮     ⋮          ⋮
49971  45.547405   542751
49972  45.547405   542751
49973  37.239819       NA
49974  34.013925    89112
49975  42.342637   567759
49976  44.950023   364726
49977  38.861068   375744
49978  29.468383  1278171
49979  37.716873    40791
49980  47.558707   570430
49981  52.222532    26930
49982  35.932643    47613
49983  48.858894  2141839
49984  47.551769   570430
49985 -23.533092 10059502
49986  45.549669   542751
49987         NA       NA
49988  47.556704   570430
49989  37.773068   393632
49990  53.143236    70486
49991  -6.180346  8556798
49992  19.105364   979458
49993  19.105364   979458
49994  19.105364   979458
49995  39.938767  7602069
49996  26.921126  2817522
49997  19.105364   979458
49998  17.400483  3632094
49999  41.489746    42427
50000  33.234026    80164

      TweetID               Weekday   Hour Day Lang IsReshare Reach
1     tw-699956523758387201 Wednesday 7    17  en   TRUE       2095
2     tw-699956772468105217 Wednesday 7    17  en   FALSE      4540
3     tw-699956793636753408 Wednesday 7    17  en   TRUE         11
4     tw-699956949002149888 Wednesday 7    17  nl   FALSE       258
5     tw-699957060495155200 Wednesday 7    17  en   TRUE        134
6     tw-699957889637593089 Wednesday 7    17  fr   FALSE       150
7     tw-699957890317225985 Wednesday 7    17  en   FALSE       780
8     tw-699957909350965248 Wednesday 7    17  en   FALSE       107
9     tw-699958989329690624 Wednesday 7    17  tr   FALSE     42060
10    tw-699959096171171840 Wednesday 7    17  en   FALSE        52
11    tw-699960676626800640 Wednesday 7    17  en   FALSE        28
12    tw-699961098066337792 Wednesday 7    17  en   FALSE       424
13    tw-699961348919336961 Wednesday 7    17  tr   FALSE     12283
14    tw-699961549822283777 Wednesday 7    17  en   FALSE       595
15    tw-699961893755072513 Wednesday 7    17  en   FALSE       178
16    tw-699962194641887232 Wednesday 7    17  en   TRUE      17897
17    tw-699962283150221312 Wednesday 7    17  en   TRUE        447
18    tw-699962882897920000 Wednesday 7    17  en   FALSE       482
19    tw-699963119099990016 Wednesday 7    17  en   FALSE       178
20    tw-699963150129631232 Wednesday 7    17  en   TRUE      20740
21    tw-699963489834635264 Wednesday 7    17  en   TRUE        676
22    tw-699963495610081281 Wednesday 7    17  en   FALSE       178
23    tw-699963677907275776 Wednesday 7    17  en   FALSE       487
24    tw-699964022481907712 Wednesday 7    17  en   FALSE      2237
25    tw-699964084792373248 Wednesday 7    17  en   FALSE        69
26    tw-699964187351474176 Wednesday 7    17  en   FALSE       178
27    tw-699964270298079232 Wednesday 7    17  en   FALSE      3376
28    tw-699964811623403520 Wednesday 7    17  en   FALSE     35652
29    tw-699964994801152001 Wednesday 7    17  en   TRUE        178
30    tw-699965382258466816 Wednesday 7    17  fr   FALSE        18
⋮     ⋮                     ⋮         ⋮    ⋮   ⋮    ⋮         ⋮
49971 tw-716334585819189248 Saturday  12   2   en   FALSE       1652
49972 tw-716335121268248576 Saturday  12   2   en   FALSE       1652
49973 tw-716335141468045312 Saturday  12   2   en   TRUE         891
49974 tw-716335974901395456 Saturday  12   2   en   FALSE        553
49975 tw-716337025230700545 Saturday  12   2   en   FALSE        268
49976 tw-716338263422812170 Saturday  12   2   en   FALSE        309
49977 tw-716339058629152769 Saturday  12   2   en   TRUE        5341
49978 tw-716339429988655105 Saturday  13   2   en   FALSE     170105
49979 tw-716339927152132096 Saturday  13   2   en   FALSE       3975
49980 tw-716341469095723008 Saturday  13   2   en   TRUE          26
49981 tw-716341960299118593 Saturday  13   2   en   FALSE        243
49982 tw-716343283698561024 Saturday  13   2   en   TRUE         736
49983 tw-716343755905900544 Saturday  13   2   en   TRUE         747
49984 tw-716344007509422081 Saturday  13   2   en   FALSE        429
49985 tw-716345042424750081 Saturday  13   2   en   FALSE        648
49986 tw-716345266417176576 Saturday  13   2   en   FALSE        108
49987 tw-716346816334159872 Saturday  13   2   it   FALSE         78
49988 tw-716347201157357568 Saturday  13   2   en   TRUE         706
49989 tw-716347346733309952 Saturday  13   2   en   FALSE       9187
49990 tw-716348105067794432 Saturday  13   2   en   TRUE         118
49991 tw-716348205055619073 Saturday  13   2   en   FALSE        972
49992 tw-716348665632333824 Saturday  13   2   en   FALSE        763
49993 tw-716348879608942593 Saturday  13   2   en   FALSE        763
49994 tw-716349145771065344 Saturday  13   2   en   FALSE        763
49995 tw-716349383688720385 Saturday  13   2   en   TRUE         415
49996 tw-716349486742700032 Saturday  13   2   hi   TRUE        1143
49997 tw-716349615340199937 Saturday  13   2   en   FALSE        763
49998 tw-716351557516722176 Saturday  13   2   en   TRUE         122
49999 tw-716352501860196352 Saturday  13   2   en   TRUE         287
50000 tw-716352771209887744 Saturday  13   2   en   FALSE       2422
      RetweetCount Likes Klout ⋯ LocationID UserID        country
1      1           0     55    ⋯ 3048       tw-135150713  UK
2      1           0     52    ⋯ 3019       tw-52748391   UK
3      1           0     14    ⋯ 3851       tw-3145304566 USA
4      4           0     31    ⋯ 2055       tw-238048977  Netherlands
5      2           0     27    ⋯ 3927       tw-24172457   USA
6      0           0     27    ⋯  800       tw-2343826152 France
7      0           0     57    ⋯ 3745       tw-2588391314 USA
8      0           0     29    ⋯  712       tw-24527668   Denmark
9      0           0     50    ⋯ 2963       tw-2903118737 Turkey
10     0           0     41    ⋯ 2057       tw-2202817080 Netherlands
11     0           0     15    ⋯ 5159       tw-267981961  USA
12     3           0     42    ⋯ 3019       tw-3431367627 UK
13     0           0     48    ⋯ 2969       tw-2972030505 Turkey
14     0           0     52    ⋯ 3060       tw-1722831672 UK
15     3           0     38    ⋯ 5618       tw-566534819  USA
16     1           0     48    ⋯ 3762       tw-15812482   USA
17    52           0     42    ⋯ 3776       tw-403823     USA
18     0           0     44    ⋯ 4368       tw-392724263  USA
19     3           0     38    ⋯ 5618       tw-566534819  USA
20    10           0     61    ⋯ 3820       tw-16926194   USA
21    17           0     46    ⋯ 3739       tw-2983205617 USA
22     3           0     38    ⋯ 5618       tw-566534819  USA
23     0           0     45    ⋯ 3758       tw-925136652  USA
24     4           0     49    ⋯ 2844       tw-123236640  Sweden
25     0           0     19    ⋯ 1337       tw-279387044  India
26     2           0     38    ⋯ 5618       tw-566534819  USA
27     0           0     56    ⋯ 3796       tw-1953680102 USA
28     0           0     58    ⋯ 3784       tw-409551566  USA
29     1           0     38    ⋯ 5618       tw-566534819  USA
30     0           0     19    ⋯ 3752       tw-3228354673 USA
⋮     ⋮            ⋮     ⋮     ⋱ ⋮          ⋮             ⋮
49971   1          0     56    ⋯ 3764       tw-4622401    USA
49972   0          0     56    ⋯ 3764       tw-4622401    USA
49973   1          0     43    ⋯ 3909       tw-45547881   USA
49974   0          0      0    ⋯ 3954       tw-385014632  USA
49975   0          0     27    ⋯ 3766       tw-12304742   USA
49976   0          0     40    ⋯ 3927       tw-22156887   USA
49977  47          0     61    ⋯ 4044       tw-2533300892 USA
49978   2          0     54    ⋯ 3793       tw-34146256   USA
49979   0          0     55    ⋯ 3796       tw-1953680102 USA
49980   8          0     21    ⋯ 3751       tw-604139581  USA
49981   0          0     25    ⋯ 2056       tw-59758748   Netherlands
49982   3          0     45    ⋯ 3818       tw-2265207757 USA
49983  10          0     54    ⋯  800       tw-563290517  France
49984   0          0     42    ⋯ 3751       tw-467721367  USA
49985   0          0     25    ⋯  289       tw-13189852   Brazil
49986   0          0     33    ⋯ 3764       tw-805470097  USA
49987   0          0     17    ⋯ 1946       tw-3610272913 Mexico
49988   2          0     46    ⋯ 3751       tw-264165471  USA
49989   1          0      0    ⋯ 3886       tw-637533     USA
49990   8          0     35    ⋯ 3350       tw-16310237   UK
49991   0          0     57    ⋯ 1486       tw-124030974  Indonesia
49992   0          0     29    ⋯ 1332       tw-1143330170 India
49993   0          0     29    ⋯ 1332       tw-1143330170 India
49994   0          0     29    ⋯ 1332       tw-1143330170 India
49995  15          0     44    ⋯  611       tw-3316009302 China
49996   1          0     49    ⋯ 1349       tw-4667163978 India
49997   0          0     29    ⋯ 1332       tw-1143330170 India
49998 435          0     17    ⋯ 1336       tw-139346924  India
49999  30          0     42    ⋯ 3795       tw-21826302   USA
50000   1          0     34    ⋯ 4007       tw-2286856224 USA
      state                statecode city             gender  long
1     County of Flintshire GB-Y1     Deeside          Male      -3.03128993
2     Greater London       GB-GLA    London           Unknown   -0.10297678
3     California           US-CA     Sacramento       Male    -121.47164743
4     North Holland        NL        Amsterdam        Male       4.88597356
5     Minnesota            US-MN     Minneapolis      Female   -93.26520052
6     Ile-de-France        FR        Paris            Female     2.33214259
7     Nevada               US-NV     Reno             Male    -119.81365833
8     Capital Region       DK        Copenhagen       Male      12.56317261
9     Istanbul             TR        Istanbul         Unknown   29.00968050
10    Utrecht              NL        Utrecht          Male       5.10157618
11    New York             US-NY     Schenectady      Unisex   -73.92133113
12    Greater London       GB-GLA    London           Male      -0.09020674
13    Izmir                TR        Karyaka          Female             NA
14    Hampshire            GB-F2     Fareham          Unknown   -1.18467377
15    California           US-CA     Newark           Unknown  -74.17299573
16    Colorado             US-CO     Westminster      Unknown -105.04098078
17    Illinois             US-IL     Chicago          Unknown  -87.67708240
18    Texas                US-TX     Plano            Unknown  -96.74012921
19    California           US-CA     Newark           Unknown  -74.17299573
20    Florida              US-FL     Miami            Unknown  -80.21393763
21    Washington  D.C.     US-DC     Washington       Male     -77.01387995
22    California           US-CA     Newark           Unknown  -74.17299573
23    Pennsylvania         US-PA     Philadelphia     Unknown  -75.12747567
24    Stockholm            SE        Stockholm        Unknown   18.06093756
25    Uttar Pradesh        IN        Noida            Male      77.33316498
26    California           US-CA     Newark           Unknown  -74.17299573
27    California           US-CA     Dublin           Unknown -121.90023401
28    California           US-CA     Sunnyvale        Unknown -122.03755392
29    California           US-CA     Newark           Unknown  -74.17299573
30    Texas                US-TX     Dallas           Unknown  -96.76826800
⋮     ⋮                    ⋮         ⋮                ⋮       ⋮
49971 Oregon               US-OR     Portland         Female  -122.651676
49972 Oregon               US-OR     Portland         Female  -122.651676
49973 California           US-CA     Los Gatos        Female  -121.979094
49974 California           US-CA     Santa Monica     Male    -118.486949
49975 Massachusetts        US-MA     Boston           Female   -71.013034
49976 Minnesota            US-MN     Minneapolis      Male     -93.277811
49977 Colorado             US-CO     Colorado Springs Male    -104.755058
49978 Texas                US-TX     San Antonio      Male     -98.516767
49979 California           US-CA     Dublin           Unknown -121.900234
49980 Washington           US-WA     Seattle          Female  -122.293566
49981 North Holland        NL        Uithoorn         Unknown    4.838334
49982 North Carolina       US-NC     Chapel Hill      Female   -79.044914
49983 Ile-de-France        FR        Paris            Male       2.349819
49984 Washington           US-WA     Seattle          Female  -122.296220
49985 Sao Paulo            BR        Sao Paulo        Male     -46.626335
49986 Oregon               US-OR     Portland         Male    -122.667714
49987 Campeche             MX        Hecelchakn       Unisex           NA
49988 Washington           US-WA     Seattle          Male    -122.290949
49989 California           US-CA     Oakland          Unknown -122.210567
49990 Nottinghamshire      GB-J9     Mansfield        Male      -1.205971
49991 Jakarta Raya         ID        Jakarta          Male     106.839950
49992 Maharashtra          IN        Mumbai           Unknown   73.051639
49993 Maharashtra          IN        Mumbai           Unknown   73.051639
49994 Maharashtra          IN        Mumbai           Unknown   73.051639
49995 Beijing              CN        Beijing          Male     116.406806
49996 Rajasthan            IN        Jaipur           Unisex    75.800929
49997 Maharashtra          IN        Mumbai           Unknown   73.051639
49998 Andhra Pradesh       IN        Hyderabad        Unknown   78.477035
49999 Illinois             US-IL     Moline           Unknown  -90.499647
50000 Alabama              US-AL     Tuscaloosa       Unknown  -87.535969
      lat        pop
1     53.20506         NA
2     51.51037    7489022
3     38.57758     480392
4     52.36615     744159
5     44.96823     364726
6     48.85231    2141839
7     39.53853     206626
8     55.67525    1091978
9     41.10621   10034830
10    52.10441     280559
11    42.79335      59930
12    51.52170    7489022
13          NA         NA
14    50.84751      57657
15    40.72011     281378
16    39.87768     104708
17    41.83148    2830144
18    33.05733     260415
19    40.72011     281378
20    25.78019     386740
21    38.91203     548359
22    40.72011     281378
23    40.00144    1439814
24    59.33582    1260712
25    28.58171     405750
26    40.72011     281378
27    37.71687      40791
28    37.38870     125486
29    40.72011     281378
30    32.78901    1216543
⋮     ⋮          ⋮
49971  45.547405   542751
49972  45.547405   542751
49973  37.239819       NA
49974  34.013925    89112
49975  42.342637   567759
49976  44.950023   364726
49977  38.861068   375744
49978  29.468383  1278171
49979  37.716873    40791
49980  47.558707   570430
49981  52.222532    26930
49982  35.932643    47613
49983  48.858894  2141839
49984  47.551769   570430
49985 -23.533092 10059502
49986  45.549669   542751
49987         NA       NA
49988  47.556704   570430
49989  37.773068   393632
49990  53.143236    70486
49991  -6.180346  8556798
49992  19.105364   979458
49993  19.105364   979458
49994  19.105364   979458
49995  39.938767  7602069
49996  26.921126  2817522
49997  19.105364   979458
49998  17.400483  3632094
49999  41.489746    42427
50000  33.234026    80164

### Data Analysis (Part 4 / 4)

In this part we investigate each variable for each gender depending on time.

In [14]:
date=c()
j=1
for (i in seq(1:nrow(dframe))){
  if (dframe$Day[i]==dframe$Day[i+1]){
    date=c(date,j)
  }else{
    date=c(date,j)
    j=j+1
  }
  if (i==49999){
    break
  }
}
tail(dframe)
date=c(date,j)
dframe$time=date
suppressWarnings({dframeA= dframe %>%
  group_by(time,gender) %>% 
  summarise(Reach=mean(Reach),
            sentiment=mean(Sentiment),
            retw=mean(RetweetCount),
            likes=mean(Likes),
            klout=mean(Klout),.groups = "keep")
})


dfra= dframe %>%
  group_by(time,gender) %>%
  count()

dframeA$count=dfra$n

males=dframeA %>% filter(gender=="Male")
females=dframeA %>% filter(gender=="Female")
unknowns=dframeA %>% filter(gender=="Unknown")
unisexs=dframeA %>% filter(gender=="Unisex")

dframe1=dataB[,-c(12:16)]
date=c()
j=1
for (i in seq(1:nrow(dframe1))){
  if (dframe1$Day[i]==dframe1$Day[i+1]){
    date=c(date,j)
  }else{
    date=c(date,j)
    j=j+1
  }
  if (i==49999){
    break
  }
}
date=c(date,j)
dframe1$time=date
dframe1A= dframe1 %>%
  group_by(time,gender) %>% 
  summarise(Reach=mean(Reach),
            sentiment=mean(Sentiment),
            retw=mean(RetweetCount),
            likes=mean(Likes),
            klout=mean(Klout),.groups = "keep")



dfra1= dframe1 %>%
  group_by(time,gender) %>%
  count()

dframe1A$count=dfra1$n

males1=dframe1A %>% filter(gender=="Male")
females1=dframe1A %>% filter(gender=="Female")
unknowns1=dframe1A %>% filter(gender=="Unknown")
unisexs1=dframe1A %>% filter(gender=="Unisex")

  TweetID               Weekday   Hour Day Lang IsReshare Reach RetweetCount
1 tw-699955608447901697 Wednesday 6    17  en   TRUE        223 27
2 tw-699955839315111937 Wednesday 6    17  en   FALSE      1180  0
3 tw-699955903060021248 Wednesday 6    17  en   TRUE      17894  1
4 tw-699956028054642689 Wednesday 6    17  en   FALSE       289  0
5 tw-699956462492094464 Wednesday 6    17  en   TRUE       1229  4
6 tw-699956510387003393 Wednesday 7    17  en   TRUE        265  3
  Likes Klout Sentiment statecode city          gender  long        lat
1 0     30    0.0       US-DC     Washington    Male     -77.029843 38.91163
2 0     51    0.0       US-CA     Santa Monica  Unknown -118.482260 34.01176
3 0     48    0.0       US-CO     Westminster   Unknown -105.044282 39.88114
4 0     27    1.5       US-WA     Seattle       Male    -122.303523 47.54527
5 0     50    3.0       US-CA     Mountain View Female  -122.073564 37.39174
6 0     39    3.0       FR        Paris         Male       2.341617 48.86428
  pop     time
1  548359 49
2   89112 49
3  104708 49
4  570430 49
5   67788 49
6 2141839 49

### Shiny App

In this part we create an interactive app to display the analysis.
The application has 4 tabs:
1) The Map with the exact points of the tweets.
2) The Map with the polygons and the statistics for each country.
3) The Multivariate analysis with the scatter plots.
4) The Timeseries.

In [ ]:
#Shiny App
ui=fluidPage(navlistPanel(tabPanel('Point Map',
                                   leafletOutput(outputId = 'map1'),
                                   leafletOutput(outputId = 'map1B')),
                          tabPanel("Polygons Map",
                                   leafletOutput(outputId = 'map'),
                                   leafletOutput('mapB')),
                          tabPanel("Graphs",
                                   sidebarLayout(sidebarPanel(selectInput(inputId = 'facet1',
                                                                          'Select a variable to split the scatter plot',
                                                                          choices = c('gender','IsReshare','No')),
                                                               selectInput(inputId = 'facet2',
                                                                           'Select a second variable to split the scatter plot',
                                                                           choices = c('gender','IsReshare','No')),
                                                               selectInput(inputId = 'size1',
                                                                           'Select a variable for size',
                                                                            choices = c("Likes", "RetweetCount",NULL)),
                                                              selectInput(inputId = 'Fun',
                                                                          "Select transformation",
                                                                          choices = c('Logarithm',"Arctan","Nothing"))
                                                               ),
                                                 mainPanel(plotOutput(outputId = 'plt1'),
                                                           plotOutput(outputId = 'plt2')
                                                           )
                                                 )
                                   ),
                          tabPanel("Timeseries",
                                   sidebarLayout(sidebarPanel(selectInput(inputId = 'time',
                                                                          'Select variable for timeseries',
                                                                          choices = names(dframeA)[3:8]
                                                                          )),
                                                 mainPanel(plotOutput(outputId = 'plt3'),
                                                           plotOutput(outputId = 'plt4'))
                                                 )
                                   )
                          )
             ) 


server=function(input,output){
  transf=reactive({if (input$Fun=='Logarithm'){
    'log(Reach)'
  }else if (input$Fun=='Arctan'){
    'atan(log(Reach)-6.29)'
  }else {"Reach"}
 })
  plt=reactive({ggplot(data = dfA,aes_string(x = transf(), y = "Klout", color = "Sentiment", size = input$size1))+  
      geom_point()+
      scale_colour_discrete(type = c('red','green','yellow','pink','blue'))+
      theme_dark()})
  plt1=reactive({ggplot(data = dfB,aes_string(x = transf(), y = "Klout", color = "Sentiment", size = input$size1))+  
      geom_point()+
      scale_colour_discrete(type = c('red','green','yellow','pink','blue'))+
      theme_dark()})
  output$map1=renderLeaflet(map1)
  output$map1B=renderLeaflet(map1B)
  output$map=renderLeaflet(map)
  output$mapB=renderLeaflet(mapB)
  output$plt1=renderPlot({if (input$facet1=='No' & input$facet1=='No'){
    plt()}else if ((input$facet1=="No" & input$facet2=='gender') | (input$facet1=='gender' & input$facet2=='gender') | (input$facet2=="No" & input$facet1=='gender')){
    plt()+
      facet_wrap(~gender)
      }else if((input$facet1=="No" & input$facet2=='IsReshare') | (input$facet1=='IsReshare' & input$facet2=='IsReshare') | (input$facet2=="No" & input$facet1=='IsReshare')){
        plt()+
          facet_wrap(~IsReshare)
      }else{plt()+
             facet_wrap(~IsReshare+gender)}})
  output$plt2=renderPlot({if (input$facet1=='No' & input$facet1=='No'){
    plt1()}else if ((input$facet1=="No" & input$facet2=='gender') | (input$facet1=='gender' & input$facet2=='gender') | (input$facet2=="No" & input$facet1=='gender')){
      plt1()+
        facet_wrap(~gender)
    }else if((input$facet1=="No" & input$facet2=='IsReshare') | (input$facet1=='IsReshare' & input$facet2=='IsReshare') | (input$facet2=="No" & input$facet1=='IsReshare')){
      plt1()+
        facet_wrap(~IsReshare)
    }else{plt1()+
             facet_wrap(~IsReshare+gender)}})
  output$plt3=renderPlot({ggplot(data = dframeA,aes(color=gender))+
    geom_line(data=males,aes_string(x='time',y=input$time))+
    geom_line(data=females,aes_string(x='time',y=input$time))+
    geom_line(data=unknowns,aes_string(x='time',y=input$time))+
    geom_line(data=unisexs,aes_string(x='time',y=input$time))})
  output$plt4=renderPlot({ggplot(data= dframe1A,aes(color=gender))+
    geom_line(data=males1,aes_string(x='time',y=input$time))+
    geom_line(data=females1,aes_string(x='time',y=input$time))+
    geom_line(data=unknowns1,aes_string(x='time',y=input$time))+
    geom_line(data=unisexs1,aes_string(x='time',y=input$time))})
}

shinyApp(ui = ui,server = server)

#------------------end of code-------------------